@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html body .container{
    /* border: 1px solid black;  */
    width: 100%;
    background-color: white;
}

html body .container .header-container{
    width: 100%;
    /* border-bottom: 1px solid #999999; */
    color: #ffffff;
    background-color: white;
}

/* Header section start=> */

html body .container .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 11%;
        min-height: 80px;
}

.logoicon{
    display: flex;
    align-items: center;
}

.logoicon img{
    width: 64px;
    height: 32px;
}

.menu-btn {
    cursor: pointer;
    padding: 10px;
    background:none;
    color:black;
    text-align: center;
    border: none;
    font-size: 2rem;
}
  /* Style for the menu content */
#menuContent {
    position: fixed;
    top: 0;
    left: -250px; /*Adjust this value as needed */
    width: 250px; /* Adjust the width of the menu */
    height: 100%;
    background-color:black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0.8;
}

#menuContent ul {
    list-style-type: none;
    padding: 0;
    margin-top: 64px;
    text-align: center;
}

#menuContent ul li {
    /* margin-bottom: 10px; */
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    font-size: 1.25rem;
}

#menuContent ul li a {
    color: white;
    text-decoration: none;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 17px;
    color: #fff;
    cursor: pointer;
    font-size: 28px;
}

@media screen and (min-width:991px) {
    .menu-button{
        display: none;
    }
    .nav-bar{
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 50px;
        font-size: 1rem;
        letter-spacing: normal;
        font-family: 'Open Sans', sans-serif;
    }
    .nav-bar a{
        color: black !important;
        text-decoration: none;
    }
    .nav-bar a:hover{
        color: #ec6011 !important;
    }
}

@media screen and (max-width:991px){
    .nav-bar{
        display: none;
    }
}

/* Header section end. */

/* Hero=section Start */

.hero-section{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/460597/images/smiling-young-businesswoman-sitting-6.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
}

.hero-section-box{
    min-height: 789px;
    position: relative;
}

.orange-box{
    background-color: #ec6011;
    width: 184px;
    height: 490px;
    /* margin: 234px 250px 0 auto; */
    position: absolute;
    top: 29%;
    left: 60%;
}

.green-box{
    background-color: #92c705;
    height: 289px;
    width: 347px;
    /* margin: -334px 0 0 auto; */
    position: absolute;
    top: 48%;
    left: 66%;
}

.our-team-box{
    min-height: 315px;
    width: 494px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    height: auto;
    /* margin: -378px 56px 60px auto; */
    color: #ffffff;
    background-color: #292d33;
    position: absolute;
    top: 38%;
    left: 52%;
}

.our-team-box h5{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-left:30px;
    margin-top: 60px;
}

.our-team-box h1{
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    margin: 20px 0 0;
    line-height: 1.1;
    font-family: Montserrat, sans-serif;
    margin-left:30px;
}


.hero-section-image-link{
    margin: 20px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 1.125rem !important;
    line-height: 2.2;
    margin-left:30px;
}

.hero-section-image-link a{
    color: white !important;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.hero-section-image-link a:hover{
    border-bottom: none;
}

@media screen and (min-width:1200px) and (max-width:1300px) {
    .green-box{
        left: 69%;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .hero-section-box{
        min-height: 676px;
    }
    .orange-box{
        top: 14%;
        left: 52%;
    }
    .green-box{
        top: 40%;
        left: 60%;
    }
    .our-team-box{
        top: 25%;
        left: 43%;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .hero-section-box{
        min-height: 675px;
    }
    .orange-box{
        top: 14%;
        left: 46%;
    }
    .green-box{
        top: 35%;
        left: 51.5%;
        height: 302px;
    }
    .our-team-box{
        top: 21%;
        left: 43%;
        min-height: 328px;
        width: 369px;
    }
}

@media screen and (min-width:675px) and (max-width:767px) {
    .hero-section-box{
        min-height: 620px;
    }
    .orange-box{
        top: 14%;
        left: 35%;
    }
    .green-box{
        top: 35%;
        left: 42.5%;
        height: 302px;
    }
    .our-team-box{
        top: 21%;
        left: 31%;
        min-height: 328px;
        width: 369px;
    }
    .hero-section{
        background-position: 57.55% 50%;
    }
}

@media screen and (min-width:576px) and (max-width:674px) {
    .hero-section-box{
        min-height: 620px;
    }
    .orange-box{
        top: 14%;
        left: 30%;
    }
    .green-box{
        top: 35%;
        left: 39.5%;
        height: 302px;
    }
    .our-team-box{
        top: 21%;
        left: 26%;
        min-height: 328px;
        width: 369px;
    }
    .hero-section{
        background-position: 57.55% 50%;
    }
}

@media screen and (min-width:401px) and (max-width:575px) {
    .hero-section-box{
        min-height: 592px;
    }
    .orange-box{
        width: 122px;
        height: 377px;
        top: 23%;
        left: 38%;
    }
    .green-box{
        top: 43%;
        left: 42%;
        height: 217px;
        width: 217px;
    }
    .our-team-box{
        top: 28%;
        left: 33%;
        min-height: 271px;
        width: 267px;
    }
    .our-team-box h1{
        font-size: 1.875rem;
        width: 80%;
    }
    .our-team-box h5{
        margin-top: 30px;
    }
    .hero-section{
        background-position: 43.79% 50%;
    }
}

@media screen and (min-width:361px) and (max-width:400px) {
    .hero-section-box{
        min-height: 592px;
    }
    .orange-box{
        width: 122px;
        height: 377px;
        top: 23%;
        left: 33%;
    }
    .green-box{
        top: 43%;
        left: 38%;
        height: 217px;
        width: 217px;
    }
    .our-team-box{
        top: 28%;
        left: 26%;
        min-height: 271px;
        width: 267px;
    }
    .our-team-box h1{
        font-size: 1.875rem;
        width: 80%;
    }
    .our-team-box h5{
        margin-top: 30px;
    }
    .hero-section{
        background-position: 43.79% 50%;
    }
}

@media screen and (max-width:360px) {
    .hero-section-box{
        min-height: 592px;
    }
    .orange-box{
        width: 40%;
        height: 377px;
        top: 23%;
        left: 33%;
    }
    .green-box{
        top: 43%;
        left: 38%;
        height: 217px;
        width: 60%;
    }
    .our-team-box{
        top: 28%;
        left: 26%;
        min-height: 271px;
        width: 74%;
    }
    .our-team-box h1{
        font-size: 1.875rem;
        width: 80%;
    }
    .our-team-box h5{
        margin-top: 30px;
    }
    .hero-section{
        background-position: 43.79% 50%;
    }
}

/* Hero-section End */

/* Business-about-section start=> */

.business-about-section h2{
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin: 60px auto 0;
    text-align: center;
}

.business-about-content{
    display: flex;
    flex-direction: row;
}

.business-about-content-firstList{
    width: 38.33333333%;
}

.business-about-content-firstList-image-link{
    margin: 20px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 1.125rem !important;
    line-height: 2.2;
    margin-left:30px;
}

.business-about-content-firstList-image-link a{
    color: black !important;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid black !important;
}

.business-about-content-firstList-image-link a:hover{
    border-bottom: 1px solid orange !important;
}

.business-about-read-more-button button{
    color: #ffffff ;
    background-color: black !important;
    background: none;
    padding: 18px 44px;
    margin-top: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    align-self: center;
    background-image: none;
    text-align: center;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    margin-left:30px;
}

.business-about-read-more-button button:hover {
    background-color: orangered !important;
    border: 2px solid  transparent;
}

.business-about-content-secondList{
    width: 38.33333333%;
}

.business-about-image{
    width: 38.33333333%;
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/2631818/images/pexels-photo-1036623.png");
    min-height: 566px;
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}