@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html body .container{
    border: 1px solid black; 
    width: 100%;
    padding: 6rem 1rem;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://i.ibb.co/Hnbj16x/fourone.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    display: block;
    background-size: cover;

}

.parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* width: 1400px; */
    margin: 0 auto;
    align-items: center;
    /* padding: 10rem 2rem 2rem;*/
    
}
.topheading{
    color: white;
    font-size: 2rem;
    line-height: 1.1;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    font-weight: 700;
    font-family: Raleway, sans-serif;
}

.content{
    
    color: white;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    /* width: 46%; */
    text-align: center;
    margin: 4rem 0;
    max-width: 758px;
}

.button{
    display: flex;
    grid-gap: 20px;
    /* border: 2px solid black; */
    margin-bottom: 5rem;
}
.leftbutton{
    /* border: 2px solid white; */
    color: #ffffff ;
    background-color: #e2781a !important;
    padding: 16px 30px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    
}
.leftbutton:hover{
    background-color: #CB6C17 !important;
}

.rightbutton:hover{
    background-color: white;
    color: black !important;
}

.rightbutton{
    border: 2px solid white;
    color: #ffffff !important;
    background-color: transparent;
    padding: 16px 30px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.lastcontent{
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.link1{
    color: white;
}
.footer{
    color: #ffffff;
    background-color: #333333;
    padding: 6vh;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    width: 100%;
}

.link2{
    color: rgb(100, 190, 190);
    text-decoration: underline;
}

@media screen and (max-width : 1024px) {
       .topheading{
        text-align: center;
        font-size: 1rem;
       }
       .button{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
       .rightbutton{
        max-width: max-content;
       }
       .container{
        background-position: center;
       }
       
}
