[data-elementor-type="single-post"] > .elementor-element:nth-child(2) .e-con-inner  > div:nth-child(1),
[data-elementor-type="single-post"] > .elementor-element:nth-child(2) .e-con-inner  > div:nth-child(2),
[data-elementor-type="single-post"] > .elementor-element:nth-child(2) .e-con-inner  > div:nth-child(3){
    display:none;
}

html body .eg-box-container{
    display: flex;
    flex-direction: column;
    grid-gap: 11px;
    margin: 0 auto;
    align-items: center;
}

html body .eg-box{
    height: 78px;
}

html body .eg-off-img{
    height:78px;
}

html body .eg-hero-box-content{
    margin: 32px auto 35px;
}

html body .eg-hero-content{
    font-family: "proxima-nova", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: white;
    margin: 0;
    text-align: center;
}

html body .eg-button{
    margin: 0 auto 8px;
    transition: transform 0.3s;
}

html body .eg-order-cta{
    padding: 17px 48px;
    border-radius: 70px;
    background-color: #CF6445;
    color: white;
    font-family: "proxima-nova", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

html body .eg-button:hover{
    transform: scale(0.9);
}

html body .eg-cancel{
    margin: 0 auto;
}

html body .eg-cancel-content{
    font-family: "proxima-nova", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: white;
    margin: 0;
}

@media screen and (min-width:575px) and (max-width:767px){
    html body .eg-box,
    html body .eg-off-img{
        height:68px;
    }
    html body .eg-hero-content{
        font-size: 36px;
    }
}

@media screen and (max-width:575px){
    html body .eg-box,
    html body .eg-off-img{
        height:48px;
    }
    html body .eg-hero-content{
        font-size: 24px;
        line-height: 24px;
    }
    html body .eg-order-cta{
        padding: 12px 32px;
        font-size: 20px;
    }
    html body .eg-box-container {
        grid-gap:15px;
    }
    html body .eg-cancel-content{
        font-size:14px;
    }
}

@media screen and (max-width:360px){
    html body .eg-box-container{
        height:auto
    }
}