html body .eg-faq-section {
    width: 100%;
    background-color: #EDEDED;
}

html body .eg-faq-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 40px 30px;
}

html body .eg-faq-hd {
    font-family: Oswald;
    font-size: 34px;
    font-weight: 500;
    line-height: 50.39px;
    letter-spacing: 0.15em;
    text-align: center;
}

html body .eg-faq-subhd {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: center;
    letter-spacing: 0;
    text-transform: capitalize;
}

html body .eg-accordion .eg-accordion-item {
    border-bottom: 1px solid #D1D1D1;
}

html body .eg-accordion .eg-accordion-item.expanded {
    border-bottom: none;
}

html body .eg-accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    color: #1D1D1D;
    padding: 1em 40px 1em 20px;
}

html body .eg-accordion button:hover,
html body .eg-accordion button:focus {
    cursor: pointer;
}

html body .eg-accordion button:hover::after,
html body .eg-accordion button:focus::after {
    cursor: pointer;
}

html body .eg-accordion button .eg-accordion-title {
    padding: 1em 1.5em 1em 0;
}

html body .eg-accordion button .eg-icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    color: #196BE0;
}

html body .eg-accordion button .eg-icon::before {
    content: '+';
    font-size: 22px;
    line-height: 22px;
}

html body .eg-accordion button .eg-icon::after {
    content: '';
}

html body .eg-accordion button[aria-expanded='true'] .eg-icon::before {
    content: '-';
    font-size: 30px;
    line-height: 22px;
}

html body .eg-accordion button[aria-expanded='true'] + .eg-accordion-content {
    opacity: 1;
    max-height: fit-content;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

html body .eg-accordion .eg-accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

html body .eg-accordion .eg-accordion-content p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    margin: 2em 0;
    color: #1D1D1D;
    text-transform: capitalize;
    padding: 1em 40px 1em 20px;
}

html body .eg-return-link {
    text-decoration: underline;
    color: #196BE0;
}

html body .eg-accordion .eg-accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #D1D1D1;
}

@media screen and (max-width:575px) {
    html body .eg-faq-container {
        padding: 40px 15px;
    }
}
