[data-elementor-type="single-post"]>.elementor-element:nth-child(2) .e-con-inner>div:nth-child(1),
[data-elementor-type="single-post"]>.elementor-element:nth-child(2) .e-con-inner>div:nth-child(2),
[data-elementor-type="single-post"]>.elementor-element:nth-child(2) .e-con-inner>div:nth-child(3),
[data-elementor-type="single-post"]>.elementor-element:nth-child(2) .e-con-inner .t-below-cta {
    display: none;
}

html body .eg-box-container {
    display: flex;
    grid-gap: 36px;
    margin: 0 auto;
}

html body .eg-box {
    height: 222px;
    width: 222px;
}

html body .eg-hero-box-content {
    margin: 25px auto 36px;
}

html body .eg-hero-content {
    font-family: "proxima-nova", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: white;
    margin: 0;
    text-align: center;
}

html body .eg-button {
    margin: 0 auto 8px;
    transition: transform 0.3s;
}

html body .eg-order-cta {
    padding: 17px 48px;
    border-radius: 70px;
    background-color: #CF6445;
    color: white;
    font-family: "proxima-nova", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

html body .eg-button:hover {
    transform: scale(0.9);
}

html body .eg-cancel {
    margin: 0 auto;
}

html body .eg-cancel-content {
    font-family: "proxima-nova", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: white;
}

@media screen and (min-width:767px) and (max-width:991px) {
    html body .eg-box {
        height: 180px;
        width: 180px;
    }
}

@media screen and (min-width:575px) and (max-width:767px) {
    html body .eg-box {
        height: 150px;
        width: 150px;
    }

    html body .eg-hero-content {
        font-size: 36px;
    }
}

@media screen and (max-width:575px) {
    html body .eg-box {
        height: 100px;
        width: 100px;
    }

    html body .eg-hero-content {
        font-size: 32px;
    }

    html body .eg-order-cta {
        padding: 12px 32px;
        font-size: 20px;
    }

    html body .eg-box-container {
        grid-gap: 15px;
    }
    .eg-background [data-elementor-type="single-post"] > .elementor-element:nth-child(2) {
        background-position: 40% 0px;
    }
}

@media screen and (max-width:370px) {
    html body .eg-box-container {
        width: 100%;
    }
}

@media only screen and (max-width:767px) {
    [data-elementor-type="single-post"]>.elementor-element:nth-child(2)>div:first-child svg {
        width: calc(175% + 1.3px);
        height: 100px;
    }
}