.order-wrapper [title="Store"]{
    display:none;
}

html body .eg-bestseller{
    font-weight: 300;
    transition: opacity .2s cubic-bezier(.5,1,.9,1);
    font-size: 30px;
    line-height: 32px;
    font-family: ITCGaramondStd-LtCond;
    font-style: normal;
}

html body .eg-bestseller:hover{
    opacity:.5;
}

@media screen and (min-width: 1000px) {
    html body .eg-bestseller {
        font-size: 48px;
        line-height: 86%;
        }
}