#content .banner-section:first-child .section-content,
#content .banner-section:first-child .section-bg {
    display: none;
}

html body .eg-hero-section {
    background: #38A3D9;
    padding: 49px 45px 49px;
    width: 100%;
}
html body .eg-inner-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}

html body .eg-right-content h2 {
    color: #FFF;
    font-family: "PT Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 9px !important;
}

html body .eg-right-content > p {
    color: #FFF;
    font-family: "PT Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: none !important;
    margin-bottom: 12px !important;
}

html body .eg-right-content .eg-hero-ctas {
    display: flex;
    grid-gap: 20px;
}

html body .eg-hero-ctas a {
    display: flex;
    padding: 15px 30px;
    align-items: center;
    gap: 10px;
    font-family: "PT Sans";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    border-radius: 300px;
}

html body .eg-hero-ctas .eg-purifiers {
    color: #FFF;
    background: #FF8700;
    font-weight: 700;
}

html body .eg-hero-ctas .eg-filters {
    background: #FFF;
    color: #279ED8;
    font-weight: 400;

}

html body .eg-right-content,
html body .eg-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html body .eg-air2-img,
html body .eg-air3-img,
html body .eg-air4-img {
    position: relative;
    margin-left: 10px;
}

html body .eg-air1-img{
    width: 133px;
}

html body .eg-air2-img{
    width: 152px;
    top: 27px;
}

html body .eg-air3-img{
    width: 83px;
    top: 16px;
}

html body .eg-air4-img{
    width: 133px;
    top: 42px;
}


html body .eg-air-shadow{
    height: 10px;
    width: 550px;
    position: relative;
    bottom: 12px;
}

html body .eg-right-content {
    width: 41%;
}
#content .logo-section {
    padding-top: 40px;
}
.logo-section .section-content > div > div:nth-child(4) img {
    filter: grayscale(1);
}

.logo-section .section-content .text {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
    text-align: center;
}

@media screen and (max-width: 990px) {
    html body .eg-inner-container{
        flex-direction: column-reverse;
        align-items: center;
        grid-gap: 20px;
    }
    html body .eg-right-content {
        width: 100%;
        align-items: center;
    }
    html body .eg-right-content h2,
    html body .eg-right-content > p {
        text-align: center;
    }
}

@media screen and (min-width:491px) and (max-width:991px){
    html body .eg-air1-img{
        width: 120px;
    }

    html body .eg-air2-img{
        width: 125px;
        top: 31px;
    }

    html body .eg-air3-img{
        width: 70px;
        top: 21px;
    }

    html body .eg-air4-img{
        width: 110px;
        top: 45px;
    }
    html body .eg-image-container{
        width: 100%;
        text-align: center;
        padding: 25px 0;
    }
    html body .eg-air-shadow{
        width: 470px;
        left: right;
        margin: 0 auto;
        left: 0;
    }

}

@media screen and (max-width: 575px) {
    #content .banner-section:nth-child(2){
        display:none;
    }
    #content>.banner-section:first-child{
        display:block !important;
    }
    html body .eg-hero-ctas a {
        padding: 15px 20px;
    }
    html body .eg-hero-section {
        padding: 49px 15px 49px;
    }
    html body .eg-right-content .eg-hero-ctas {
        grid-gap: 15px;
    }
}

@media screen and (max-width:490px){
    html body .eg-air1-img{
        width: 78px;
    }

    html body .eg-air2-img{
        width: 68px;
        top: 28px;
    }

    html body .eg-air3-img{
        width: 41px;
        top: 21px;
    }

    html body .eg-air4-img{
        width: 64px;
        top: 33px;
    };
    html body .eg-shop-cta{
        margin-bottom: 10px;
    }
    html body .eg-air-shadow{
        width:300px;
    }
    html body .eg-hero-ctas {
        grid-gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
}