*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html body .container{
    border: 1px solid black; 
    width: 100%;
    padding: 6rem 1rem;
}

.parent{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 100%;
    grid-gap: 1%;
    
}

.img1{
    background-image: url(https://i.ibb.co/4tRJmcb/Rectangle-191.png);
    height: 540px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.smallimg1{
    background-image: url(https://i.ibb.co/GpFww2B/Rectangle-191-1.png);
    object-fit: cover;
    height: 258px;
    width: 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bigimg1{
    background-image: url(https://i.ibb.co/8PBTZCB/Rectangle-191-2.png);
    height: 258px;
    width: 65%;
    background-repeat: no-repeat;
    background-size: cover;
}

.smallimg2{
    background-image: url(https://i.ibb.co/sm38Byt/Rectangle-191-7.png);
    height: 258px;
    width: 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bigimg2{
    background-image: url(https://i.ibb.co/HNTVBzK/Rectangle-191-3.png);
    height: 258px;
    width: 65%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .img1{
    height: 540px;
    width: 684px;
}

.img2{
    height: 258px;
    width: 220px;
}

.img3{
    width: 440px;
    height: 258px;
}

.img4{
    width: 440px;
    height: 258px;
}

.img5{
    height: 258px;
    width: 220px;
} */

.rightpanel{
    width: 50%;

}

.leftpanel{
    width: 50%;
}
.upper{
    display: flex;
    flex-direction: row;
    grid-gap: 2%;
    padding-bottom: 1%;
}

.bottom{
    display: flex;
    flex-direction: row;
    grid-gap: 2%;
    padding-top: 1%;
}

@media screen and (max-width : 1024px){
    .parent{
        flex-direction: column;
    }
    .upper{
        padding-top: 1%;
    }
    .smallimg1{
        width: 50%;
    }
    .smallimg2{
        width: 50%;
    }
    .bigimg1{
        width: 50%;
    }
    .bigimg2{
        width: 50%;
    }
    .leftpanel{
        width: 97%;
    }
    .rightpanel{
        width: 97%;
    }
}