@media only screen and (min-width:992px) {
    .eg-MOL1001 .eg-courses_menu {
        position: fixed;
        top: 165px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        width: auto;
        height: auto;
        text-align: left;
        display: none;
        z-index: 9;
    }

    .eg-MOL1001.open .main-header {
        min-height: 140px;
    }

    #menu-main-menu>li:first-of-type>.sub-menu {
        display: none !important;
    }

    .eg-MOL1001.open .eg-courses_menu {
        display: block !important;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses .eg-courses_container.eg-active,
    .eg-MOL1001 .eg-courses_menu .eg-courses_container [isavailable="false"].eg-show .eg-submenu_container {
        display: block !important;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses .eg-courses_container:not(.eg-active),
    .eg-MOL1001 .eg-courses_menu .eg-courses .eg-courses_container:not(.eg-active)+a {
        display: none !important;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses_container [isavailable="false"] .eg-submenu_container {
        display: none;
    }

    .eg-MOL1001 .eg-courses_menu .eg-container {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .eg-MOL1001 .eg-courses_menu .eg-study-area {
        background: #E8F1F7;
        padding: 40px 32px;
        width: 100%;
        max-width: 35.5%;
        border-radius: 10px 0px 0px 10px;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .eg-MOL1001 .eg-courses_menu .eg-study-area::-webkit-scrollbar {
        display: none;
    }

    .eg-MOL1001 .eg-courses_menu .eg-header h2 {
        font-family: Roboto Condensed;
        font-weight: 500;
        font-size: 24px;
        line-height: normal;
        letter-spacing: 0px;
        color: #212529;
        margin-bottom: 25px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-studyarea_container {
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-studyarea-item {
        background: #E8F1F7;
        height: 52px;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        color: #212529;
        padding-left: 25px;
        position: relative;
        cursor: pointer;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses {
        background: #FFFFFF;
        width: 75%;
        padding-top: 40px;
        /* padding-left: 64px; */
        padding-right: 32px;
        position: relative;
        border-radius: 0px 10px 10px 0px;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses::-webkit-scrollbar {
        display: none;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses_container {
        padding-left: 0px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses_container .eg-course,
    .eg-MOL1001 .eg-courses_menu .eg-courses_container [isavailable="false"] span {
        height: 56px;
        border-bottom: 1px solid #E6E6E5;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-weight: 400;
        color: #212529;
        font-size: 16px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-study-area .eg-header {
        padding-left: 12px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-studyarea-item:after {
        content: '';
        background-image: url(https://i.ibb.co/x8tv5rQn/Vector.png);
        width: 8px;
        height: 13px;
        position: absolute;
        background-size: contain;
        right: 25px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-studyarea-button {
        color: #006DAE;
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        height: 52px;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses .eg-course-button {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        color: #006DAE;
        height: 56px;
        display: flex;
        align-items: center;
        padding-bottom: 85px;
        padding-top: 16px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses_container [isavailable="false"] span {
        border-bottom: unset;
        position: relative;
        width: 100%;
        cursor: pointer;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses_container [isavailable="false"] {
        border-bottom: 1px solid #E6E6E5;
        cursor: pointer;
        list-style-type: none;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses_container .eg-submenu_container ul {
        padding-left: 0px;
        display: flex;
        flex-direction: row;
        grid-gap: 10px;
        flex-wrap: wrap;
        grid-row-gap: 15px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses_container .eg-submenu-item {
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0px;
        color: #006DAE;
        list-style-type: none;
        border: 1px solid #E6E6E5;
        padding: 12px 30px;
        text-decoration: underline;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses_container .eg-submenu_container {
        margin-bottom: 15px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-studyarea-item.eg-active {
        background: #006DAE;
        color: var(--colour-wireframe-50, #F6F7FA) !important;
    }

    .eg-MOL1001 .eg-courses_menu .eg-studyarea-item.eg-active {
        background: #006DAE;
        color: var(--colour-wireframe-50, #F6F7FA) !important;
        border-radius: 6px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-studyarea-item.eg-active::after {
        background-image: url(https://i.ibb.co/DfKFqFrK/Vector.png) !important;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses .eg-contact-section {
        position: fixed;
        bottom: 20px;
        height: 56px;
        align-items: center;
        flex-direction: row;
        grid-gap: 25px;
        width: inherit;
        background: #F9F9F9;
        display: none;
        width: 62.5%;
        border-radius: 0px 10px 10px 0px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses .eg-contact-section>div {
        color: #212529;
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0px;
        position: relative;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses .eg-contact-section a {
        color: #006DAE;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses .eg-contact-section .eg-number:after {
        content: '';
        background: #E6E6E5;
        width: 1px;
        height: 20px;
        display: flex;
        position: absolute;
        top: 3px;
        right: -12px;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses>div,
    .eg-MOL1001 .eg-courses_menu .eg-courses>ul,
    .eg-MOL1001 .eg-courses_menu .eg-courses>a {
        padding-left: 64px;
    }

    .eg-MOL1001.open .eg-courses_menu .eg-courses .eg-contact-section {
        display: flex !important;
    }

    .main-header__wrap .hamburger .hamburger-inner,
    .main-header__wrap .hamburger .hamburger-inner:before,
    .main-header__wrap .hamburger .hamburger-inner:after {
        width: 25px;
        background: #000000;
    }

    /* .eg-MOL1001 .eg-courses_menu .eg-courses_container .eg-dropdown {
        position: absolute;
        right: 0px;
    } */

    /* .eg-MOL1001 .eg-courses_menu .eg-courses_container .eg-dropdown span {
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0px;
        color: #212529;
    }

    .eg-MOL1001 .eg-courses_menu .eg-courses_container .eg-dropdown span:after {
        content: '';
        background-image: url(https://i.ibb.co/x8tv5rQn/Vector.png);
        width: 12px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 10px;
        transform: rotate(90deg);
    } */

    /* .eg-MOL1001 .eg-courses_menu .eg-courses_container [isavailable="false"].eg-show .eg-dropdown>span:after {
        transform: rotate(-90deg);
        position: relative;
        top: -4px;
    } */
}

@media only screen and (max-width:992px) {
    .eg-MOL1001 .eg-mobile-menu .eg-courses>p {
        height: 66px;
        font-family: Roboto Condensed;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0px;
        align-items: center;
        display: flex;
        padding-left: 15px;
        border-bottom: 1px solid #E6E6E5;
        margin: 0px;
        position: relative;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-submenu-container.eg-show {
        display: block !important;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-study-area .eg-study-container>p,
    .eg-MOL1001 .eg-mobile-menu .eg-studyarea-button,
    .eg-MOL1001 .eg-mobile-menu .eg-course-button {
        font-family: Roboto;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0px;
        color: #212529;
        border-bottom: 1px solid #E6E6E5;
        height: 64px;
        align-items: center;
        display: flex;
        margin: 0px;
        padding-left: 15px;
        position: relative;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-course-container:not(.eg-show),
    .eg-MOL1001 .eg-mobile-menu .eg-courses .eg-study-area:not(.eg-show),
    .eg-MOL1001 .eg-mobile-menu .eg-submenu-container:not(.eg-show),
    .eg-MOL1001 .main-menu__nav+.mobile-apply,
    .eg-MOL1001 .main-menu__content-wrap .main-menu__list>li:nth-of-type(2) br {
        display: none !important;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-header>span {
        font-family: Roboto Condensed;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0px;
        color: #212529;
        text-transform: uppercase;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-header {
        height: 58px;
        border-bottom: 1px solid #E6E6E5;
        display: flex;
        align-items: center;
        padding-left: 20px;
        grid-gap: 15px;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-header .eg-backicon img {
        width: 9px;
        height: 13px;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        top: -1px;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-course-list {
        padding-left: 0px;
        overflow: scroll;
        height: calc(100vh - 135px);
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-course-list::-webkit-scrollbar {
        display: none;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-course-list [data-course="eg-course"] {
        padding: 19px 15px;
        border-bottom: 1px solid #E6E6E5;
        font-family: Roboto;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0px;
        color: #212529;
        position: relative;
        padding-right: 35px;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-courses .eg-study-area.eg-show,
    .eg-MOL1001 .eg-mobile-menu .eg-course-container.eg-show {
        position: fixed;
        background: #FFFFFF;
        left: 0px;
        right: 0px;
        top: 73px;
        bottom: 0px;
        z-index: 9;
        display: block;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-course-list [data-course="eg-course"]:after,
    .eg-MOL1001 .eg-mobile-menu .eg-study-area .eg-study-container>p:after,
    .eg-MOL1001 .eg-mobile-menu .eg-courses>p:after,
    .eg-MOL1001 .eg-mobile-menu .eg-course-list [data-course="undefined"]>span:after,
    .eg-MOL1001 .eg-mobile-menu .eg-studyarea-button:after,
    .eg-MOL1001 .eg-mobile-menu .eg-course-button:after {
        content: '';
        background-image: url(https://i.ibb.co/Ng8ggM0j/Vector.png);
        width: 12px;
        height: 12px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        position: absolute;
        top: 27px;
        right: 20px;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-course-list [data-course="undefined"]>span:after {
        right: 0px !important;
        top: 8px !important;
        height: 13px !important;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-course-list [data-course="undefined"] {
        padding-left: 15px;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-course-list [data-course="undefined"] {
        border-bottom: 1px solid #E6E6E5;
        padding: 19px 15px;
        padding-right: 20px;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-course-list [data-course="undefined"]>span {
        width: 100%;
        display: flex;
        font-family: Roboto;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0px;
        color: #212529;
        position: relative;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-submenu-container .eg-submenuitems {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
        margin-top: 15px;
    }

    .eg-MOL1001 .eg-mobile-menu .eg-submenu-container .eg-submenuitems li {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0px;
        color: #006DAE;
        padding: 12px 16px;
        border: 1px solid #E6E6E5;
        text-decoration: underline;
    }

    .eg-MOL1001 #menu-main-menu>li>a {
        font-family: Roboto Condensed;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: #212529;
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .eg-MOL1001 .main-menu__content-wrap .main-menu__list {
        background: #F9F9F9;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .eg-MOL1001 .main-menu__content-wrap .main-menu__list li {
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0px;
        color: #212529;
    }

    .eg-MOL1001 .main-menu__content-wrap .main-menu__list>li a {
        color: #006DAE;
        font-size: 16px;
        text-decoration: unset;
    }

    .eg-MOL1001 .main-header #menu-main-menu>li {
        position: relative;
    }

    .eg-MOL1001 .main-header #menu-main-menu>li:after {
        content: '';
        background-image: url(https://i.ibb.co/Ng8ggM0j/Vector.png);
        width: 12px;
        height: 12px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(180deg);
        position: absolute;
        top: 27px;
        right: 20px;
    }
}

.eg-MOL1001 .eg-course a:hover,
.eg-MOL1001 .eg-courses_menu .eg-studyarea-button:hover,
.eg-MOL1001 .eg-courses_menu .eg-courses .eg-course-button:hover,
.eg-MOL1001 .undefined span:hover {
    text-decoration: underline;
}

.eg-MOL1001 .eg-courses_menu .eg-courses_container .eg-submenu-item:hover {
    text-decoration: none;
}

@media only screen and (min-width:767px) and (max-width:1024px) {

    .eg-MOL1001 .eg-mobile-menu .eg-courses .eg-study-area.eg-show,
    .eg-MOL1001 .eg-mobile-menu .eg-course-container.eg-show {
        top: 100px !important;
    }


    .eg-MOL1001 .main-header .main-menu.open {
        background: #FFFFFF;
    }
}