@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



html body .container{
    /* border: 1px solid black;  */
    
    height:100%;
}

html body .container .parent{
    padding-top: 3%;
    padding-right: 0%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

html body .container .parent .photopanel{
    position: relative;
    /* text-align: center; */
}

html body .container .parent .photopanel .rectone{
    width: 662px;
    height: 432px;
    background-image: none;
    margin: 0 auto 0 320px;
    color: #ffffff;
    background-color: #ff8e02;
    position: relative;
}

html body .container .parent .photopanel .recttwo{
    width: 216px;
    height: 540px;
    background-image: none;
    margin: -319px auto 0 158px;
    color: #111111;
    background-color: #e0e5eb;
    position: relative;
}

html body .container .parent .photopanel .lineimage{
    width: 344px;
    min-height: 342px;
    background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/24355c837acb552491b5ec91/patterns.png");
    background-position: 50% 50%;
    margin: -367px auto 0 612px;
    background-size: initial;
    background-repeat: repeat;
    background-position: top left !important;
    overflow: visible;
}

html body .container .parent .photopanel .image{
    width: 683px;
    height: 505px;
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.2);
    object-position: 46.8% 100%;
    background-position: 46.8% 100%;
    margin: -559px auto 0 227px;
    overflow: hidden;
    object-fit: cover;
    display: block;
    /* vertical-align: middle; */
    border-style: none;
    position: absolute;
    z-index: 9;

}

html body .container .parent .contentpanel{
    /* padding: 60px 450px 30px; */
    padding: 7% 24%;
    padding-bottom: 12%;
    position: relative;
    flex: 1;
    max-width: 100%;
    text-align: left;
    padding-right: 20%;
}

html body .container .parent .contentpanel .heading{
    font-weight: 700;
    margin: 12px 0 0;
    font-family: Montserrat, sans-serif !important;
    word-wrap: break-word;
    position: relative;
}

html body .container .parent .contentpanel .inn{
    color: #ff8e02 !important;
}

html body .container .parent .contentpanel h1{
    font-size: 3rem;
    line-height: 1.1;
}

html body .container .parent .contentpanel .subheading{
    font-style: italic;
    margin: 9px 0 0;
    font-family: 'PT Sans', sans-serif !important;
}
html body .container .parent .contentpanel h3{
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.2;
}

html body .container .parent .contentpanel .content{
    letter-spacing: 1;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 36px 0 0;
    word-wrap: break-word;
    position: relative;
    line-height: 1.6;
}

html body .container .parent .contentpanel .text{
    font-size: 1.125rem;
    margin: 36px auto 0 0;
    word-wrap: break-word;
    color: #111111;
}

html body .container .parent .contentpanel .link{
    color: #111111 !important;
    border-style: none none solid;
    padding: 0;
    border-width: 2px;
    border-color: #ff8e02 !important;
    /* color: #ff8e02 !important; */
    background-color: transparent !important;
    text-decoration: none;
}

html body .container .parent .contentpanel .button{
    border-width: 2px;
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-style: solid;
    margin: 36px auto 0 0;
    border-color: #454545 !important;
    color: #454545 !important;
    background-color: transparent !important;
    text-align: center;
    padding: 10px 30px;
    display: table;
}

html body .container .parent .contentpanel .button:hover{
    border: transparent;
    cursor: pointer;
}

html body .container .footer{
    color: #ffffff;
    background-color: #333333;
    padding: 6vh;
    font-size: 0.8rem;
    font-family: 'Open Sans',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

html body .container .footer .footer-content{
    display: flex;
    flex-direction: column;
    /* grid-gap: 60px; */
    text-align: center;
}

html body .container .footer .link2{
    color: rgb(100, 190, 190);
    text-decoration: underline;
}

@media (max-width: 575px){
    html body .container .parent .photopanel .rectone {
        height: 178px;
        width: 280px;
        margin-left: 82px !important;
        margin: 0;
    }
    html body .container .parent .photopanel .recttwo{
        width: 121px;
        height: 253px;
        margin-top: -119px !important;
        margin: 0;
    }
    html body .container .parent .photopanel .lineimage
        {
            width: 170px;
            min-height: 154px;
            margin-top: -154px !important;
            margin-left: auto !important;
            margin: 0;
    }
    html body .container .parent .photopanel .image{
        width: 268px;
    height: 234px;
    margin-top: -272px;
    margin-left: 36px;
    }
    .parent{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    html body .container .parent .photopanel .rectone{
        width: 367px;
        height: 358px;
        margin-top: 29px;
        margin: 0 auto 0 227px;
    }
    html body .container .parent .photopanel .recttwo{
        width: 208px;
    height: 467px;
    margin-top: -276px;
    margin-right: 0px;
    margin: -319px auto 0 53px;
    }
    html body .container .parent .photopanel .lineimage{
        width: 246px;
    min-height: 272px;
    margin-top: -314px;
    margin-right: 0;
    margin-left: auto;
    }
    html body .container .parent .photopanel .image{  
        width: 472px;
        height: 384px;
        margin-top: -449px;
        margin-left: 92px;
        object-fit: contain;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px){
    html body .container .parent .photopanel .rectone{
        width: 639px;
        height: 429px;
        margin-right: 0;
        margin-left: 80px;
    }
    html body .container .parent .photopanel .recttwo{
        width: 234px;
        margin-top: -341px;
        margin-left: 0;
    }
    html body .container .parent .photopanel .lineimage{
        width: 333px;
        min-height: 314px;
        margin-top: -342px;
        margin-right: 2px;
        margin-left: auto;
    }
    html body .container .parent .photopanel .image{
        width: 561px;
        height: 479px;
        margin-top: -531px;
        margin-left: 72px;
    }
    /* .parent{
        padding-right: 0%;
    } */
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    html body .container .parent .photopanel .rectone{
    width: 681px;
    margin-left: 171px;
    }
    html body .container .parent .photopanel .recttwo{
        margin-left: 51px;
    }
    html body .container .parent .photopanel .lineimage{ 
    width: 363px;
    margin-left: 489px;
    }
    html body .container .parent .photopanel .image{
            margin-left: 120px;
    }
} 