@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html body .container{
    /* border: 1px solid black;  */
    width: 100%;
    background-color: #000000;
}

html body .container .header-container{
    width: 100%;
    border-bottom: 1px solid #999999;
    color: #ffffff;
    background-color: #000000;
}

/* Header section start=> */

html body .container .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 11%;
        min-height: 80px;
}

.logoicon{
    display: flex;
    align-items: center;
}

.menu-btn {
    cursor: pointer;
    padding: 10px;
    background:none;
    color: white;
    text-align: center;
    border: none;
    font-size: 2rem;
}
  /* Style for the menu content */
#menuContent {
    position: fixed;
    top: 0;
    left: -250px; /*Adjust this value as needed */
    width: 250px; /* Adjust the width of the menu */
    height: 100%;
    background-color:black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0.8;
}

#menuContent ul {
    list-style-type: none;
    padding: 0;
    margin-top: 64px;
    text-align: center;
}

#menuContent ul li {
    /* margin-bottom: 10px; */
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    font-size: 1.25rem;
}

#menuContent ul li a {
    color: white;
    text-decoration: none;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 17px;
    color: #fff;
    cursor: pointer;
    font-size: 28px;
}

/* Header section end. */

/* Hero-section start=> */

.hero-section{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/2878699/images/bg5534.jpg");
    background-position: 50% 50%;
    min-height: 658px;
    width: 100%;
}

.about-us-image{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/2878699/images/658.jpg");
    min-height: 658px;
    width: 61%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.about-us-panel{
    width: 39%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-panel h2{
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}   

.about-us-panel p{
    font-size: 1.125rem;
    margin: 20px 0 0;
    font-family: 'Open Sans', sans-serif;
    max-width: 64%;
}

.AboutUs-link{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 1rem;
    /* margin: 30px auto 0; */
    /* text-align: center; */
}

.link{
    font-family: 'Open Sans', sans-serif;
    color: #111111 ;
    border-style: none none solid;
    padding: 0;
    border-width: 1px;
    border-color: #404040 ;
    background-color: transparent ;
    text-decoration: none;
}

.LearnMore-button button{
    color: #ffffff ;
    background-color: black !important;
    background: none;
    padding: 23px 46px;
    margin-top: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    align-self: center;
    background-image: none;
    text-align: center;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}

.LearnMore-button button:hover {
    background-color: orangered !important;
}

@media screen and (min-width:1201px) and (max-width:1300px){
    .about-us-image{
        width: 75%;
    }
    .about-us-panel{
        width: 35%;
    }
    .about-us-panel p{
        max-width:80%
    }
}

@media screen and (min-width:992px) and (max-width:1200px){
    .hero-section{
        min-height: 544px;;
    }
    .about-us-image{
        width: 58%;
        min-height: 544px;
    }
    .about-us-panel{
        width: 35%;
    }
    .about-us-panel p{
        max-width:81%
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .hero-section{
        min-height: 505px;
        flex-direction: column;
    }
    .about-us-image{
        width: 85%;
        min-height: 505px;
    }
    .about-us-panel{
        width: 85%;
        text-align: center;
    }
    .about-us-panel p{
        max-width:80%;
        margin: 10px 10%
    }
    .LearnMore-button button{
        margin-top: 20px;
    }
}


@media screen and (min-width:576px) and (max-width:767px){
    .hero-section{
        min-height: 423px;
        flex-direction: column;
    }
    .about-us-image{
        width: 90%;
        min-height: 423px;
    }
    .about-us-panel{
        width: 90%;
        text-align: center;
    }
    .about-us-panel p{
        max-width:80%;
        margin: 10px 10%
    }
    .LearnMore-button button{
        margin-top: 20px;
    }
}

@media screen and (min-width:401px)  and (max-width:575px){
    .hero-section{
        min-height: 340px;
        flex-direction: column;
    }
    .about-us-image{
        width: 85%;
        min-height: 340px;
    }
    .about-us-panel{
        width: 85%;
        text-align: center;
    }
    .about-us-panel p{
        max-width:80%;
        margin: 10px 10%
    }
    .LearnMore-button button{
        margin-top: 20px;
    }
}

@media screen and (min-width:361px)  and (max-width:400px){
    .hero-section{
        min-height: 340px;
        flex-direction: column;
    }
    .about-us-image{
        width: 100%;
        min-height: 340px;
    }
    .about-us-panel{
        width: 80%;
        text-align: center;
    }
    .about-us-panel p{
        max-width:80%;
        margin: 10px 10%
    }
    .LearnMore-button button{
        margin-top: 20px;
    }
}

@media screen and (max-width:360px){
    .hero-section{
        min-height: 340px;
        flex-direction: column;
    }
    .about-us-image{
        width: 100%;
        min-height: 340px;
    }
    .about-us-panel{
        width: 80%;
        text-align: center;
        padding: 50px 25px;
    }
    .about-us-panel p{
        max-width:80%;
        margin: 10px 10%
    }
    .LearnMore-button button{
        margin-top: 20px;
    }
}

/* Hero-section :end */

/* List-section start */

.list-section{
    color: #ffffff;
    background-color: #000000;
    min-height: 535px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-box{
    width: 100%;
    height: 500px;
    min-height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialism-list{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.specialism-list h4{
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-right: 29%;
    text-align: left !important;
}

.specialism-list p{
    font-size: 2.25rem;
    margin: 20px 0 0;
}

.specialism-list a{
    color: #ffffff !important;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.specialism-list a:hover{
    color: orange !important;
    text-decoration: underline;
}

.project-type-list{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.project-type-list h4{
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.project-type-list p{
    font-size: 2.25rem;
    margin: 20px 0 0;
}
.project-type-list a{
    color: #ffffff !important;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.project-type-list a:hover{
    color: orange !important;
    text-decoration: underline;
}

@media screen  and (min-width:1200px) and (max-width:1300px) {
    .specialism-list h4{
        margin-right: 34%;
    }
}

@media screen  and (min-width:1051px) and (max-width:1199px) {
    .specialism-list h4{
        margin-right: 39%;
    }
    .list-box{
        min-height:329px ;
    }
}

@media screen  and (min-width:992px) and (max-width:1050px) {
    .specialism-list h4{
        margin-right: 44%;
    }
    .list-box{
        min-height:329px ;
    }
}

@media screen  and (min-width:850px) and (max-width:991px) {
    .specialism-list h4{
        margin-right: 33%;
    }
    .list-box{
        min-height:329px ;
    }
    .specialism-list p, .project-type-list p{
        font-size: 1.875rem;
    }
}

@media screen  and (min-width:768px) and (max-width:851px) {
    .specialism-list h4{
        margin-right: 39%;
    }
    .list-box{
        min-height:329px ;
    }
    .specialism-list p, .project-type-list p{
        font-size: 1.875rem;
    }
}

@media screen  and (min-width:576px) and (max-width:767px) {
    .specialism-list{
        align-items: flex-start;
        width: 100%;
        padding: 30px 0 30px 30px;
    }
    .list-box{
        min-height:459px ;
        flex-direction: column;
        width: 540px;
        height: auto;
        align-items: flex-start;
        margin: 60px 0;
    }
    .specialism-list p, .project-type-list p{
        font-size: 1.875rem;
    }
}

@media screen  and (max-width:575px) {
    .specialism-list{
        align-items: flex-start;
        width: auto;
        padding: 30px 0 30px 30px;
    }
    .list-box{
        min-height:459px ;
        flex-direction: column;
        width: 340px;
        height: auto;
        align-items: flex-start;
        margin: 60px 0;
    }
    .specialism-list p, .project-type-list p{
        font-size: 1.875rem;
    }
    .project-type-list{
        width: auto;
    }
}

/* List-section end */

/* work-one-section */

.work-one-section{
    color: #ffffff;
    background-color: #000000;
    background-image: none;
    min-height: 729px;
}

.orange-box{
    width: calc(((100% - 1140px) / 2) + 722px);
    height: 493px;
    background-color: #f5773d;
    margin: 0 0 0 auto;
}

.work-one-image-box{
    width: 1140px;
    margin: -413px auto 60px;
    display: flex;
    min-height: fit-content;
    max-width: 100%;
    flex-direction: row;
    
}

.work-one-small-images{
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

.work-one-first-image-box{
    display: flex;
    flex-direction: row;
    min-height: fit-content;
    max-width: 100%;
}

.work-one-first-image-box-content{
    min-height: 313px;
    border: 15px solid transparent;
    padding: 25px 20px 25px 0;
    justify-content: center;
}

.work-one-first-image-box-content h4{
    margin: 0 1px 0 0;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}
.work-one-content{
    font-style: italic;
    margin: 27px 1px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    max-width: fit-content;
    max-width: 70%;
}

.image-link{
    letter-spacing: 1px;
    margin: 20px 1px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.work-one-first-image-box-content a{
    color: #ffffff !important;
    border-bottom: 1px solid #f5773d !important;
    text-decoration: none;
}

.work-one-first-image-box-img{
    background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/cb90b2e84307548d92caf296/trrt.jpg");
    width: 100%;
    min-height: 284px;
    background-position: 50% 50%;
    background-size: cover;
}

.work-one-second-image-box{
    display: flex;
    flex-direction: row;
    min-height: fit-content;
    max-width: 100%;
}

.work-one-second-image-one{
    background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/306c5a13ccc9552294a74267/black-white-business-card-mockup-design_47987-2181.jpg");
    width: 100%;
    max-width: 50%;
    min-width: 50%;
    min-height: 287px;
    background-position: 50% 50%;
    background-size: cover;
}

.work-one-second-image-two{
    background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/e53c3d61788051e7a84c5f99/logo-mockup-black-facade-sign_145275-281.jpg");
    width: 100%;
    min-height: 284px;
    background-position: 50% 50%;
    background-size: cover;
}

.work-one-big-image-box{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/461.jpg");
    width: 100%;
    min-height: 284px;
    background-position: 50% 50%;
    background-size: cover;
    box-sizing: border-box;
}