@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html body .container{
    /* border: 1px solid black;  */
    width: 100%
}

html body .container .header-container{
    width: 100%;
    border-bottom: 1px solid #999999;
}

/* Header section start=> */

html body .container .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.search-container {
    margin: 10px;
    /* border: 1px solid #999999; */
}

.search-box{
    /* border: 2px solid #999999; */
    /* width: 100%; */
    padding: 10px;
    padding-left: 0 !important;
}

.search-icon {
    position: relative;
    right: 33px;
    top: 42%;
    transform: translateY(-50%);
    width: 20px;
    fill: #999999;
    cursor: pointer;
  }

.menu-btn {
    cursor: pointer;
    padding: 10px;
    background:none;
    color: black;
    text-align: center;
    border: none;
    font-size: 2rem;
}
  /* Style for the menu content */
#menuContent {
    position: fixed;
    top: 0;
    left: -250px; /*Adjust this value as needed */
    width: 250px; /* Adjust the width of the menu */
    height: 100%;
    background-color:black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0.8;
}

#menuContent ul {
    list-style-type: none;
    padding: 0;
    margin-top: 64px;
    margin-left:100px
}

#menuContent ul li {
    margin-bottom: 10px;
}

#menuContent ul li a {
    color: white;
    text-decoration: none;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 17px;
    color: #fff;
    cursor: pointer;
    font-size: 28px;
}

/* Header section end. */

/* Hero-section start=> */

.hero-section{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    width: 100%;
    background: white;
}

.project-section{
    /* border: 2px solid red; */
    width: 50%;
}

.project-section h2{
    font-size: 6rem;
    font-family: Merriweather, serif !important;
    font-weight: 400;
    line-height: 1.1;
    margin: 100px auto;
    margin-left: 30px;
}

.project-image-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image-one{
    background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/5592e262835154f8862ad87e/pexels-photo-5941929.jpeg?version=");
    width: 750px;
    min-height: 365px;
    background-position: 50% 50%;
    background-size: cover ;
}

.image-one-content{
    padding: 30px;
}

.image-one-content p{
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    color: #111111;
    width:95%;
}

.sub-project-section{
    /* border: 2px solid red; */
    width: 50%; 
    background-color: #e5d9e3;
    display: flex;
    flex-direction: column;
}

.sub-project-section img{
    width: 348px;
    height: 452px;
    margin: 0 auto;
    object-fit: cover;
    margin-top: 80px;
}

.sub-project-section p{
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #111111;
    width: 295px;
    margin: 20px auto;
}

html body .container .parent-container{
    /* border: 2px solid black; */
    width: 100%;
    background-color: #ffffff;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .image-one{
        min-height: 301px;
    }
    .image-one-content{
        padding: 30px;
    }
    .image-one-content p{
        width: 93%;
    }
    .sub-project-section img{
        margin-top: 25px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .image-one{
        min-height: 461px;
    }
    .hero-section{
        flex-direction: column;
    }
    .project-section{
        width: 100%;
    }
    .project-section h2{
        margin: 40px auto;
        margin-left: 30px;
    }
    .sub-project-section{
        width: 100%;
    }
    .sub-project-section img{
        margin-top: 25px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .image-one{
        min-height: 692px;
        width: 100%;
    }
    .project-image-content{
        flex-direction: column;
    }
    .hero-section{
        flex-direction: column;
    }
    .project-section{
        width: 100%;
    }
    .project-section h2{
        margin: 40px auto;
        margin-left: 30px;
    }
    .sub-project-section{
        width: 100%;
    }
    .sub-project-section img{
        margin-top: 25px;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {
    .image-one{
        min-height: 436px;
        width: 100%;
    }
    .project-image-content{
        flex-direction: column;
    }
    .hero-section{
        flex-direction: column;
    }
    .project-section{
        width: 100%;
    }
    .project-section h2{
        margin: 40px auto;
        margin-left: 30px;
        font-size: 3.75rem;
    }
    .sub-project-section{
        width: 100%;
    }
    .sub-project-section img{
        margin-top: 25px;
    }
    .image-one-content{
        padding: 30px 10px;
    }
    .image-one-content p{
        width: 100%;
    }
}

@media screen and (max-width:360px) {
     .image-one{
        min-height: 436px;
        width: 100%;
    }
    .project-image-content{
        flex-direction: column;
    }
    .hero-section{
        flex-direction: column;
    }
    .project-section{
        width: 100%;
    }
    .project-section h2{
        margin: 40px auto;
        margin-left: 30px;
        font-size: 3.1rem;
    }
    .sub-project-section{
        width: 100%;
    }
    .sub-project-section img{
        margin-top: 25px;
        width: 95%;
        height: 445px;
    }
    .image-one-content{
        padding: 30px 10px;
    }
    .image-one-content p{
        width: 100%;
    }
    .sub-project-section p{
        width: 100%;
    }
}

/* .hero-section end */

/* Creative-panel start=> */

.creative-panel{
    background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/4b76039be27e57d38bcce923/pexels-photo-3356833.jpeg");
    width: 100%;
    min-height:575px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.creative-content-box{
    position: absolute;
    /* border: 1px solid green; */
    width: 32%;
    top: 18%;
    left:55%;
    text-align: center;
}

.creative-content-box h2{
    font-size: 3rem;
    font-weight: 700;
    font-family: Merriweather, serif !important;
    line-height: 1.1;
    color: #ffffff;
    margin: 0 10px;
}

.creative-content-box a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 7;
    text-decoration: none;
    border-bottom: 2px solid white;
}

@media screen and (min-width:991px) and (max-width:1199px) {
    .creative-content-box{
        width:34%;
    }
    .creative-panel{
        min-height: 475px;
    }
}

/* @media screen and (min-width:991px) and (max-width:1024px) {
    .creative-content-box{
        width:34%;
    }
    .creative-panel{
        min-height: 463px;
    }
} */

@media screen and (min-width:767px) and (max-width:991px) {
    .creative-content-box{
        width:51%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .creative-panel{
        min-height: 385px;
    }
}

@media screen and (min-width:575px) and (max-width:767px) {
    .creative-content-box{
        width:57%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .creative-panel{
        min-height: 384px;
    }
}

@media screen and (min-width:375px) and (max-width:575px) {
    .creative-content-box{
        width:67%;
        top: 28%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .creative-content-box h2{
        font-size: 2.25rem;
    }
        .creative-panel{
        min-height: 385px;
    }
}

@media screen and (max-width:375px) {
    .creative-content-box{
        width:100%;
        top: 28%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .creative-content-box h2{
        font-size: 2.25rem;
    }
        .creative-panel{
        min-height: 385px;
    }
}

/* .creative-panel End */

/* Modern-design-panel start */

.modern-design-panel{
   /* border: 1 px solid black; */
   width: 100%;
   display: flex;
   flex-direction: row;
}

.modern-design-content{
    width: 42%;
    background-color: #ffffff;
}

.modern-design-content p{
    margin-top: 115px;
    width: 84%;
    padding: 30px;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.social-icons{
    height: 30px;
    width: 137px;
    min-width: 24px;
    /* margin: 30px auto 0 0; */
    margin: 157px auto 0 29px;
    /* position: relative; */
    display: flex;
    grid-gap: 18px;
}

.social-icons a{
    height: 100%;
    display: inline-block;
    flex: 1;
}

.icon-social-facebook{
    display: flex;
    height: 100% !important;
    color: black;
    line-height: 0;
    border-width: 0px;
}

.icon-social-twitter{
    display: flex;
    height: 100% !important;
    color: black;
    line-height: 0;
    border-width: 0px;
}

.icon-social-instagram{
    display: flex;
    height: 100% !important;
    color: black;
    line-height: 0;
    border-width: 0px;
}

.svg-link {
    width: 100%;
    height: 100%;
}

.svg-content {
    width: 0;
    height: 0;
}

.modern-design-image{
    background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/d611d5af242d56ea8d016d6a/pexels-photo-5990677.jpeg");
    width: 100%;
    height: 698px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.modern-design-heading{
    background-color: #e5d9e3;
    width: 100%;
    max-width: 455px;
    min-height: 349px;
    /* height: auto; */
    margin: 0 0% 0 auto;
    /* text-align: center; */
    top: auto;
    top: 50%;
    left: 56.8%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 349px;
}
.modern-design-heading h2{
    position: absolute;
    font-size: 3rem;
    letter-spacing: 0px;
    font-weight: 700;
    font-family: Merriweather, serif !important;
    line-height: 1.1;
    text-align: center;
}

@media screen and (min-width:991px) and (max-width:1200px) {
    .modern-design-heading{
        width: 440px;
    }
}

@media screen and (min-width:767px) and (max-width:991px) {
    .modern-design-heading{
        min-height: 297px;
        width: 354px;
        margin-top: 400px;
    }
    .modern-design-heading h2{
        font-size: 2.25rem;
    }
}

@media screen and (min-width:575px) and (max-width:767px) {
    .modern-design-heading{
        min-height: 297px;
        width: 354px;
        margin-top: 400px;
    }
    .modern-design-heading h2{
        font-size: 2.25rem;
    }
    .modern-design-panel{
        flex-direction: column;
    }
    .modern-design-content{
        width: 100%;
    }
    .social-icons{
        margin: 48px auto 28px 29px;
    }
}

@media screen and (min-width:375px) and (max-width:575px) {
    .modern-design-heading{
        min-height: 297px;
        width: 340px;
        margin-top: 400px;
    }
    .modern-design-heading h2{
        font-size: 2.25rem;
    }
    .modern-design-panel{
        flex-direction: column;
    }
    .modern-design-content{
        width: 100%;
    }
    .social-icons{
        margin: 48px auto 28px 29px;
    }
    .modern-design-content p{
        width: 95%;
        margin-top: 0;
        padding: 30px 7px;
    }
}

@media screen and (max-width:375px) {
    .modern-design-heading{
        min-height: 297px;
        width: 277px;
        margin-top: 400px;
    }
    .modern-design-heading h2{
        font-size: 2.25rem;
    }
    .modern-design-panel{
        flex-direction: column;
    }
    .modern-design-content{
        width: 100%;
    }
    .social-icons{
        margin: 48px auto 28px 29px;
    }
    .modern-design-content p{
        width: auto;
        margin-top: 0;
        padding: 29px;
    }
}

/* .modern-design-panel End */

/* Social-panel Start=> */

.social-panel{
    background-color: #ffffff;
    margin: 0 auto;
    width: 1140px;
}

.social-panel h1{
    font-size: 6rem;
    line-height: 1.2;
    text-transform: none;
    font-weight: 700;
    font-family: Merriweather, serif !important;
    margin: 51px 444px 0 20px;
}

.social-panel h3{
    font-size: 3rem;
    text-transform: none;
    font-weight: 400;
    font-family: Merriweather, serif !important;
    margin: 10px 0 55px 822px;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .social-panel{
            width: 940px;
    }
    .social-panel h1{
        margin-left: 0;
        margin-right: 264px;
    }
    .social-panel h3{
        margin-left: 622px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .social-panel{
            width: 720px;
    }
    .social-panel h1{
        margin-left: 0;
        margin-right: 44px;
    }
    .social-panel h3{
        font-size: 2.25rem;
        width: auto;
        margin-left: 402px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .social-panel{
            width: 540px;
    }
    .social-panel h1{
        margin-left: 0;
        margin-right: 0;
    }
    .social-panel h3{
        font-size: 2.25rem;
        width: auto;
        margin-left: 222px;
    }
}

@media screen and (min-width:360px) and (max-width:575px) {
    .social-panel{
            width: 368px;
    }
    .social-panel h1{
        font-size: 3.75rem;
        margin-left: 0;
        margin-right: 0;
    }
    .social-panel h3{
        font-size: 2.25rem;
        width: 84%;
        margin-left: 59px;
    }
}

@media screen and (max-width:360px){
    .social-panel{
            width: 100%;
    }
    .social-panel h1{
        font-size: 3.75rem;
        margin-left: 0;
        margin-right: 0;
    }
    .social-panel h3{
        font-size: 2.25rem;
        width: auto;
        margin-left: 59px;
    }
}

/* .social-panel End */

/* List-panel Start=> */

.list-panel{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    background-color: #e5d9e3;
}

.leaf-image{
    background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/4b76039be27e57d38bcce923/pexels-photo-3356833.jpeg?version=");
    width: 37.33333333%;
    min-height: 520px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:no-repeat ;
}

.project-list{
    width:33.33333333%;
    min-height: 520px;
    padding: 30px;
    align-items: center;
    display: flex;
}

.project-list h2{
    line-height: 2.2;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Merriweather, serif ;
    justify-content: center;
}

.list-panel-image-girl{
     width: 33.33333333%;
     padding: 30px;
     padding-top: 5%;
}

.list-panel-image-girl img{
    width: 242px;
    height: 240px;
    object-fit: cover;
}

.list-panel-image-girl p{
    margin: 30px 4px 0 0;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width:991px) and (max-width:1199px) {
    .leaf-image{
        min-height: 481px;
    }
    .project-list{
        min-height:481px;
    }
    .project-list h2{
        font-size: 1.875rem;
    }
    .list-panel-image-girl p{
        margin-right: 0;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .leaf-image{
        min-height: 368px;
        margin: 10px 0;

    }
    .project-list{
        min-height:100px;
    }
    .project-list h2{
        font-size: 1.5rem;
    }
    .list-panel-image-girl img{
        width: 180px;
        height: 178px;
    }
    .list-panel-image-girl p{
        margin-left: 1px;
        margin-right: 1px;
    }
}

@media screen and (min-width:575px) and (max-width:768px) {
    .list-panel{
        flex-direction: column;
    }
    .leaf-image{
        min-height: 828px;
        width: 100%;
    }
    .project-list{
        min-height:100px;
        width: 90%;
        padding-left: 10px;
    }
    .project-list h2{
        font-size: 1.5rem;
    }
    .list-panel-image-girl{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .list-panel-image-girl img{
        width: 180px;
        height: 178px;
        justify-content: center;
    }
    .list-panel-image-girl p{
        margin-left: 2px;
        margin-right: 2px;
        text-align: center;
    }
}

@media screen and (min-width:360px) and (max-width:575px) {
    .list-panel{
        flex-direction: column;
    }
    .leaf-image{
        min-height: 521px;
        width: 100%;
    }
    .project-list{
        min-height:100px;
        width: 95%;
        padding-left: 10px !important;
        padding: 0;
    }
    .project-list h2{
        font-size: 2.25rem;
    }
    .list-panel-image-girl{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .list-panel-image-girl img{
        width: 180px;
        height: 178px;
        justify-content: center;
    }
    .list-panel-image-girl p{
        margin-left: 1px;
        margin-right: 1px;
        text-align: center;
    }
}

@media screen and (max-width:575px) {
    .list-panel{
        flex-direction: column;
    }
    .leaf-image{
        min-height: 521px;
        width: 100%;
    }
    .project-list{
        min-height:100px;
        width: 95%;
        padding-left: 10px !important;
        padding: 0;
    }
    .project-list h2{
        font-size: 2.25rem;
    }
    .list-panel-image-girl{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .list-panel-image-girl img{
        width: 180px;
        height: 178px;
        justify-content: center;
    }
    .list-panel-image-girl p{
        margin-left: 1px;
        margin-right: 1px;
        text-align: center;
        padding-bottom:10%;
    }
}

/* List-panel End */

/* Quick-panel start=> */

.quick-panel{
    /* border: 1px solid black; */
    background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/e8af5196ab7555cda6319d8a/pexels-photo-2387793.jpeg");
    width: 100%;
    min-height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:no-repeat ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-panel a{
    color: #ffffff !important;
    border-width: 2px;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 9px;
    /* margin: 60px auto; */
    padding: 40px 84px 30px;
    padding-bottom: 40px;
    background-color: transparent;
    text-decoration: none;
}

.quick-panel a:hover {
    background-color: white; 
    color: #111111 !important;
}

@media screen and (min-width:991px) and (max-width:1199px) {
    .quick-panel{
        min-height: 412px;
    }
}

@media screen and (min-width:767px) and (max-width:991px) {
    .quick-panel{
        min-height: 316px;
    }
}

@media screen and (min-width:575px) and (max-width:767px) {
    .quick-panel{
        min-height: 237px;
    }
}

@media screen and (min-width:360px) and (max-width:575px) {
    .quick-panel{
        min-height: 210px;
    }
}

@media screen and (max-width:360px) {
    .quick-panel a{
        padding: 30px 50px 30px;
        padding-bottom: 30px;
    }
    .quick-panel{
        min-height: 210px;
    }
}

/* Quick-panel End */

/* My-work-panel Start=> */

.my-work-panel{
    /* border: 1px solid black; */
    min-height:1028px ;
}

.image-gallery{
    height: 897px;
    grid-template-columns: repeat(3, auto);
    margin-top: 30px;
    margin-bottom: 0;
}

.image-gallery-box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    min-height: 100%;
}

.image-gallery-box .image{
    width: 100%;
    height: 100%;
    position: relative;
}

.image-gallery-box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
}

.my-work-panel h3{
    letter-spacing: 0px;
    font-size: 3rem;
    font-weight: 700;
    text-transform: none;
    margin: 66px 80px 0;
    text-align: center;
    font-family: Merriweather, serif !important;
}

@media screen  and (min-width:992px) and (max-width:1199px) {
    .image-gallery{
        height: 996px;
    }
    .my-work-panel{
        min-height: 871px;
    }
}

@media screen  and (min-width:768px) and (max-width:991px) {
    .image-gallery{
        height: 1923px;
    }
    .my-work-panel{
        min-height: 1547px;
    }
    .my-work-panel h3{
        font-size: 2.25rem;
    }
    .image-gallery-box{
        grid-template-columns: repeat(2, auto);
    }
}

@media screen  and (min-width:576px) and (max-width:767px) {
    .image-gallery{
        height: 5192px;
    }
    .my-work-panel{
        min-height: 3953px;
    }
    .my-work-panel h3{
        font-size: 2.25rem;
    }
    .image-gallery-box{
        grid-template-columns: repeat(1, auto);
    }
}

@media screen  and (min-width:361px) and (max-width:575px) {
    .image-gallery{
        height: 3269px;
    }
    .my-work-panel{
        min-height:2538 px;
    }
    .my-work-panel h3{
        font-size: 2.25rem;
        margin-left: auto;
        margin-right: auto;
    }
    .image-gallery-box{
        grid-template-columns: repeat(1, auto);
    }
}

@media screen  and (max-width:360px) {
    .image-gallery{
        height: 3269px;
    }
    .my-work-panel{
        min-height:2538 px;
    }
    .my-work-panel h3{
        font-size: 2.25rem;
        margin-left: auto;
        margin-right: auto;
    }
    .image-gallery-box{
        grid-template-columns: repeat(1, auto);
    }
}

/* .my-work-panel end */

/* project-panel Start=> */

.project-content-panel{
    /* border: 1px solid black;  */
    min-height: 293px;
    margin: 0 auto;
    width: 1140px;
}

.project-content-panel h3{
    font-size: 3rem;
    margin: 60px 120px 60px 0;
    font-family: Merriweather, serif !important;
    font-weight: 400;
    line-height: 1.2;
}

@media screen  and (min-width:992px) and (max-width:1199px) {
    .project-content-panel{
        width: 940px;
        min-height: 312px;
    }
    .project-content-panel h3{
        margin-top: 92px;
        margin-right: 0;
    }
}

@media screen  and (min-width:768px) and (max-width:991px) {
    .project-content-panel{
        width: 720px;
        min-height: 250px;
    }
    .project-content-panel h3{
        margin-right: 0;
        font-size: 2.25rem;
        margin-top: 80px;
    }
}

@media screen  and (min-width:576px) and (max-width:767px) {
    .project-content-panel{
        width: 540px;
        min-height: 290px;
    }
    .project-content-panel h3{
        margin-right: 0;
        font-size: 2.25rem;
        margin-top: 75px;
    }
}

@media screen  and (min-width:361px) and (max-width:575px) {
    .project-content-panel{
        width: 340px;
        min-height: 418px;
    }
    .project-content-panel h3{
        margin-right: 0;
        font-size: 2.25rem;
        margin-top: 75px;
    }
}

@media screen  and (max-width:360px) {
    .project-content-panel{
        width: auto;
        min-height: 410px;
    }
    .project-content-panel h3{
        margin-right: 0;
        font-size: 2.25rem;
        margin-top: 70px;
        margin-left: 10px;
    }
}

/* .project-content-panel End */

/* Contact-panel start */

.contact-panel{
    /* border: 1px solid black; */
    color: #111111;
    background-color: #e5d9e3;
    min-height: 667px;
}

.contact-panel-box{
    padding-top: 70px;
    width: 1140px;
    margin: 60px auto;
    margin-top: 0;
    margin-bottom: 0;
    /* border: 1px solid rgb(174, 27, 27); */
    display: flex;
    flex-direction: row;
}

.right-about{
    width: 50%;
    min-height: 507px;
    padding: 30px;
    padding-top: 40px;
}

.right-about h2{
    font-size: 3rem;
    font-weight: 700;
    margin: 0 121px 0 0;
    font-family: Merriweather, serif;
    line-height: 1.1;
}

.right-about p{
    margin: 30px 0 0;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.contact-form{
    width: 50%;
    min-height: 507px;
    padding: 30px;
}

form {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    font-size: 1rem;
}

.contact-form
input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 12px 12px;
    background-image: none;
    background-clip: padding-box;
    border: none;
    transition: border-color ease-in-out 0.15s, 
    box-shadow ease-in-out 0.15s;
    height: auto;
    font-size: 1rem;
    margin: 4px;
}

input[type="checkbox"] {
  margin-top: 20px;
}

.terms{
    color: #bda9bb;
    text-decoration: none;
}

input[type="submit"] {
    width: fit-content;
    text-align: center;
    padding: 13px 32px;
    margin-top: 30px;
    background-color: #bda9bb;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

input[type="submit"]:hover {
  background-color:#c6a4c3;
  opacity: 1;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .contact-panel{
        min-height: 685px;
    }
    .contact-panel-box{
        width: 940px;
    }
    .right-about{
        min-height: 418px;
    }
    .right-about h2{
        position: relative;
        margin-right: 21px;
    }
    .contact-form{
        min-height: 418px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .contact-panel{
        min-height: 720px;
    }
    .contact-panel-box{
        width:720px;
    }
    .right-about{
        min-height: 100px;
    }
    .right-about h2{
        position: relative;
        margin-right: 0;
        font-size: 2.25rem;
    }
    .contact-form{
        min-height: 100px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .contact-panel{
        min-height: 970px;
    }
    .contact-panel-box{
        width:540px;
        flex-direction: column;
    }
    .right-about{
        min-height: 100px;
        width: 95%;
        padding: 0;
    }
    .right-about h2{
        position: relative;
        margin-right: 0;
        font-size: 2.25rem;
    }
    .contact-form{
        min-height: 100px;
        width: 90%;
        padding: 0;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {
    .contact-panel{
        min-height: 1135px;
    }
    .contact-panel-box{
        width:340px;
        flex-direction: column;
    }
    .right-about{
        min-height: 100px;
        width: 95%;
        padding: 0;
    }
    .right-about h2{
        position: relative;
        margin-right: 0;
        font-size: 2.25rem;
    }
    .contact-form{
        min-height: 100px;
        width: 90%;
        padding: 0;
    }
}

@media screen and (max-width:360px) {
    .contact-panel{
        min-height: 1135px;
    }
    .contact-panel-box{
        width:95%;
        flex-direction: column;
    }
    .right-about{
        min-height: 100px;
        width: 95%;
        padding: 0;
    }
    .right-about h2{
        position: relative;
        margin-right: 0;
        font-size: 2.25rem;
    }
    .contact-form{
        min-height: 100px;
        width: 90%;
        padding: 0;
    }
}

.footer{
    color: #ffffff;
    background-color: #333333;
    padding-bottom: 2%;
    /* padding: 6vh; */
    /* margin-top: 20px; */
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    width: 100%;
}

.footer-content{
    display: flex;
    flex-direction: column;
    grid-gap: 45px;
    text-align: center;
    align-items: center;
}

.contentone{
    width: 70%;
    margin-top: 49px;
    margin-bottom: 49px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
}

.footer-two span{
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.link2{
    color: #e5d9e3;
    text-decoration: underline;
}