.tg-custom>div:nth-child(1){
    background-image:url("https://i.ibb.co/WzDbLYw/Group-1016.png");
    background-position-x:right;
}

@media screen and (max-width: 849px) {
    .tg-custom .tg-bg img {
        width: 100%;
    }
}