html body.eg-form-modified #brochureModal .modal-dialog {
    background: url('https://cdn.optimizely.com/img/24967681153/2426939ed62641ac903050d059f387e1.png') !important;
    display: flex !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    justify-content: center;
    align-items: center;
    padding: 64px 20px;
    background-position: left !important;
    background-color: #F9F9F9 !important;
}

:root {
    --clr1: #212529;
}

html body.eg-form-modified #brochureModal {
    display: block !important;
    opacity: 1 !important;
    position: static !important;
}

html body.eg-form-modified #brochureModal .disclaimer *,
html body.eg-form-modified #brochureModal .form-control,
html body.eg-form-modified #brochureModal .form-control::placeholder,
html body.eg-form-modified #brochureModal .iti__selected-flag,
html body.eg-form-modified #brochureModal .modal-content>.row>div:first-child *,
html body.eg-form-modified #brochureModal .eg-wrapped-usps ul li,
html body.eg-form-modified #brochureModal .eg-wrapped-usps p,
html body.eg-form-modified #brochureModal .modal-content>.row>div:first-child h2 {
    color: var(--clr1) !important;
}

html body.eg-form-modified #brochureModal .close {
    display: none !important;
}

html body.eg-form-modified #brochureModal .form-group {
    padding: 0 !important;
}

html body.eg-form-modified #brochureModal .modal-content .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

html body.eg-form-modified #brochureModal .form-control {
    padding: 10px 5px !important;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 1px solid #8B8B8B !important;
    background: transparent !important;
}


html body.eg-form-modified #brochureModal .form-control#mobile {
    padding-inline: 93px !important;
}

html body.eg-form-modified #brochureModal .iti__selected-flag {
    display: flex;
    padding: 11px 6px;
    gap: 10px;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

html body.eg-form-modified #brochureModal .iti__selected-flag * {
    margin: 0 !important;
}

html body.eg-form-modified #brochureModal .iti__selected-flag .iti__arrow {
    border-top-color: var(--clr1) !important;
}

html body.eg-form-modified #brochureModal .form-group.select-group::before,
html body.eg-form-modified #brochureModal .close img {
    filter: invert(1) !important;
}

html body.eg-form-modified #brochureModal button[type="submit"],
html body.eg-form-modified .eg-ctas-wrap .eg-new-cta button {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #016CAE;
    color: var(--primary-white, #FFF);
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    height: 52px;
    min-width: unset;
    width: 100% !important;
}

html body.eg-form-modified #brochureModal button[type="submit"] {
    font-size: 0;
}

html body.eg-form-modified #brochureModal button[type="submit"]::before {
    content: 'download Course Guide';
    font-size: 18px;
}

html body.eg-form-modified .eg-ctas-wrap .eg-new-cta button {
    padding: 10px 30px !important;
    max-width: 160px !important;
}

html body.eg-form-modified #brochureModal .eg-ctas-wrap .eg-ori-ctas>div:nth-child(2),
html body.eg-form-modified #brochureModal .eg-ctas-wrap .eg-ori-ctas>div:nth-child(1) {
    margin: 0 !important;
    padding: 0 !important;
    flex: unset !important;
    width: auto !important;
}

html body.eg-form-modified #brochureModal .eg-ctas-wrap .eg-ori-ctas>div:nth-child(2) {
    max-width: 273px;
    width: 100% !important;
}

html body.eg-form-modified .eg-ctas-wrap,
html body.eg-form-modified .eg-ori-ctas,
html body.eg-form-modified .eg-ctas-wrap .eg-new-cta {
    display: flex;
    gap: 20px;
    width: 100% !important;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}


html body.eg-form-modified .eg-ctas-wrap .eg-show-terms {
    flex: 1;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
}

html body.eg-form-modified .eg-ctas-wrap .eg-show-terms a {
    color: var(--clr1);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    padding: 2px 0;
    border-bottom: 1px solid rgba(33, 37, 41, 0.50);
    grid-gap: 6px;
}

html body.eg-form-modified .eg-ctas-wrap .eg-show-terms .eg-arr-icon {
    width: 8px;
    display: flex;
    align-items: center;
}

html body.eg-form-modified .eg-ctas-wrap .eg-show-terms .eg-arr-icon svg {
    width: 100% !important;
    rotate: 180deg;
}

html body.eg-form-modified.eg-show-hide-terms .eg-ctas-wrap .eg-show-terms .eg-arr-icon svg {
    rotate: 0deg !important;
}

html body.eg-form-modified .eg-ctas-wrap {
    justify-content: space-between;
    position: relative;
    padding-left: 128px;
    margin-top: 20px;
    padding-right: 13px;
}

html body.eg-form-modified #brochureModal .modal-content>.row>div:first-child h2 {
    font-family:
        "Roboto Condensed";
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    /* 95.652% */
    max-width: 238px;
    margin-bottom: 0;
}

html body.eg-form-modified #brochureModal .modal-content>.row>div:first-child p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
    margin-bottom: 22px;
}

html body.eg-form-modified #brochureModal .modal-content>.row>div:first-child ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 20px;
    grid-row-gap: 12px;
    max-width: 559px !important;
}

html body.eg-form-modified #brochureModal .eg-wrapped-usps ul li {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    grid-gap: 14px;
    min-width: 160px;
}

html body.eg-form-modified #brochureModal .eg-wrapped-usps ul li::before {
    content: '';
    --wdt: 20px;
    min-width: var(--wdt);
    min-height: var(--wdt);
    max-width: var(--wdt);
    max-height: var(--wdt);
}

html body.eg-form-modified #brochureModal .eg-wrapped-usps ul li:nth-child(1)::before {
    background: url('https://cdn.optimizely.com/img/24967681153/6ed21853d33f4d4287d4266f04a5440b.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html body.eg-form-modified #brochureModal .eg-wrapped-usps ul li:nth-child(2)::before {
    background: url('https://cdn.optimizely.com/img/24967681153/9fbcbc9249444e67975d4be542f50bc5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html body.eg-form-modified #brochureModal .eg-wrapped-usps ul li:nth-child(3)::before {
    background: url('https://cdn.optimizely.com/img/24967681153/fc8b8a8fc83f4067ac7cf21503749cbe.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html body.eg-form-modified #brochureModal .eg-wrapped-usps ul li:nth-child(4)::before {
    background: url('https://cdn.optimizely.com/img/24967681153/1d1e334b73a44c558f582dc9f63547f3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html body.eg-form-modified #brochureModal .eg-wrapped-usps ul li:nth-child(5)::before {
    background: url('https://cdn.optimizely.com/img/24967681153/dcba8b3b411548b5ba8c128493b6c9e0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html body.eg-form-modified #brochureModal .modal-content>.row>div {
    padding: 0;
    width: 100% !important;
    flex: unset !important;
    max-width: unset !important;
}

html body.eg-form-modified #brochureModal .modal-content>.row>div:first-child {
    display: flex;
    grid-gap: 70px;
    align-items: center;
}


html body.eg-form-modified #brochureModal .modal-content>.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    grid-gap: 70px !important;
    justify-content: space-between;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
}

html body.eg-form-modified #brochureModal .modal-content {
    padding: 50px !important;
    margin-top: 0 !important;
    flex: 1 !important;
    background: white !important;
    max-width: 1266px !important;
    margin-left: -18px;
}

html body.eg-form-modified #brochureModal .modal-dialog .eg-despopupbg {
    display: block !important;
    width: 100%;
    height: 100% !important;
    max-width: 386px;
    min-width: 386px !important;
}

html body.eg-form-modified #brochureModal .eg-despopupbg {
    display: block;
    object-fit: cover;
}

html body.eg-form-modified #brochureModal .disclaimer>p:first-child {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: none !important;
}

html body.eg-form-modified #brochureModal .disclaimer>p:first-child~* {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0;
}

html body.eg-form-modified #brochureModal .disclaimer>p:nth-child(2) {
    margin-bottom: 5px !important;
}

html body.eg-form-modified #brochureModal [class^="col"] {
    padding-left: 0 !important;
}

html body.eg-form-modified #brochureModal .disclaimer {
    margin-top: 42px !important;
    order: 3;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
}

html body.eg-form-modified:not(.eg-show-hide-terms) #brochureModal .disclaimer {
    display: none !important;
}


html body.eg-form-modified .eg-wrapped-usps {
    flex: 1;
}

html body.eg-form-modified #brochureModal .modal-content #courseBrochureForm .row>div:nth-child(-n + 6) {
    flex-basis: 33.33% !important;
    max-width: unset !important;
}

html body.eg-form-modified:not(.eg-stage-2) #brochureModal .modal-content #courseBrochureForm .row>div:nth-child(4),
html body.eg-form-modified:not(.eg-stage-2) #brochureModal .modal-content #courseBrochureForm .row>div:nth-child(5),
html body.eg-form-modified:not(.eg-stage-2) #brochureModal .modal-content #courseBrochureForm .row>div:nth-child(6),
html body.eg-form-modified.eg-stage-2 #brochureModal .modal-content #courseBrochureForm .row>div:nth-child(1),
html body.eg-form-modified.eg-stage-2 #brochureModal .modal-content #courseBrochureForm .row>div:nth-child(2),
html body.eg-form-modified.eg-stage-2 #brochureModal .modal-content #courseBrochureForm .row>div:nth-child(3),
html body.eg-form-modified:not(.eg-stage-2) .eg-ctas-wrap .eg-ori-ctas,
html body.eg-form-modified.eg-stage-2 .eg-ctas-wrap .eg-new-cta {
    display: none !important;
}

html body.eg-form-modified button[data-target="#brochureModal"] * {
    pointer-events: none !important;
}

html body.eg-form-modified.eg-brochureModal-open {
    overflow: visible !important;
}

html body.eg-form-modified.eg-brochureModal-open .modal-backdrop {
    display: none !important;
}

html body:not(.eg-form-modified) .eg-despopupbg,
html body:not(.eg-form-modified) .eg-show-terms,
html body:not(.eg-form-modified) .eg-new-cta {
    display: none !important;
}

@media(min-width:768px) {

    html body.eg-form-modified #brochureModal .modal-dialog .eg-despopupbg {
        display: none !important;
    }
}


@media(max-width:1099px) {
    html body.eg-form-modified #brochureModal .modal-dialog {
        flex-direction: column !important;
    }

    html body.eg-form-modified #brochureModal .modal-content {
        padding: 40px 32px !important;
        position: static !important;
        margin-left: 0 !important;
    }

    html body.eg-form-modified #brochureModal .modal-dialog .eg-despopupbg {
        min-width: unset !important;
        max-width: unset !important;
        height: auto !important;
    }
}

@media(max-width:767px) {

    html body.eg-form-modified #brochureModal .modal-content>.row {
        flex-direction: column !important;
        grid-gap: 37px !important;
    }

    html body.eg-form-modified #brochureModal .modal-content>.row>div:first-child {
        min-width: unset !important;
        max-width: 100% !important;
        flex-direction: column !important;
        grid-gap: 7px !important;
    }

    html body.eg-form-modified #brochureModal .modal-content>.row>div:first-child h2 {
        font-size: 30px !important;
        max-width: 100% !important;
        margin-bottom: 0 !important;
        width: 100% !important;
    }

    html body.eg-form-modified #brochureModal .eg-wrapped-usps p {
        margin-bottom: 24px !important;
    }

    html body.eg-form-modified #brochureModal .modal-dialog {
        padding: 0 !important;
    }


    html body.eg-form-modified #brochureModal .eg-wrapped-usps ul li {
        min-width: unset !important;
    }

    html body.eg-form-modified #brochureModal .modal-content>.row>div:first-child ul {
        grid-column-gap: 12px;
    }

    html body.eg-form-modified #brochureModal .modal-content #courseBrochureForm .row>div:nth-child(-n + 6) {
        flex-basis: 100% !important;
        padding-right: 0 !important;
    }

    html body.eg-form-modified .eg-ctas-wrap {
        padding-right: 0 !important;
        padding-left: 0 !important;
        flex-direction: column !important;
    }

    html body.eg-form-modified .eg-ctas-wrap .eg-show-terms {
        position: static !important;
        width: 100% !important;
        order: -1 !important;
    }

    html body.eg-form-modified .eg-ori-ctas,
    html body.eg-form-modified .eg-ctas-wrap .eg-new-cta {
        justify-content: flex-start !important;
    }

    html body.eg-form-modified #brochureModal .disclaimer {
        order: -1;
        flex: unset !important;
        margin-top: 0px !important;
    }

    html body.eg-form-modified #brochureModal .eg-ctas-wrap .eg-ori-ctas>div:nth-child(1) {
        scale: 0.9;
        left: -16px;
    }

    html body.eg-form-modified #brochureModal .eg-ctas-wrap .eg-ori-ctas>div:nth-child(2) {
        max-width: 100% !important;
    }

    html body.eg-form-modified #brochureModal .modal-content {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media(min-width:992px) {
    html body.eg-form-modified #brochureModal .modal-content {
        max-width: 938px !important;
        margin-left: -6px !important;
    }
}

@media(min-width:1200px) {
    html body.eg-form-modified #brochureModal .modal-content {
        max-width: 1108px !important;
        margin-left: -15px;
    }
}

@media(min-width:1440px) {
    html body.eg-form-modified #brochureModal .modal-content {
        max-width: 1261px !important;
        margin-left: -15px;
    }
}

@media(max-width:1671px) and (min-width:1535px) {
    html body.eg-form-modified #brochureModal .modal-dialog {
        background-position: -60px center !important;
    }
}

@media(max-width:1535px) and (min-width:1439px) {
    html body.eg-form-modified #brochureModal .modal-dialog {
        background-position: -99px center !important;
    }
}

@media(max-width:1439px) and (min-width:1308px) {
    html body.eg-form-modified #brochureModal .modal-dialog {
        background-position: -70px center !important;
    }
}

@media(max-width:1308px) and (min-width:1200px) {
    html body.eg-form-modified #brochureModal .modal-dialog {
        background-position: -92px center !important;
    }
}

@media(max-width:1200px) and (min-width:1024px) {
    html body.eg-form-modified #brochureModal .modal-dialog {
        background-position: -75px bottom !important;
    }
}