html body .eg-image-container{
    width: 94%;
    max-width: 1450px;
    padding: 50px 0 40px;
    margin: 0 auto;
}

html body .eg-image-tile{
    width: 25%;
    height: 360px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

html body .eg-image-one{
    background-image: url("https://www.wedgwood.com.au/images/Q/New%202021-01.jpg");
}

html body .eg-image-two{
    background-image: url("https://www.wedgwood.com.au/images/Q/6-Shop-all-Teaware.jpg");
}

html body .eg-image-three{
    background-image: url("https://www.wedgwood.com.au/images/Q/Main%20banner-71.jpg");
}

html body .eg-image-four{
    background-image: url("https://www.wedgwood.com.au/images/Q/Category%20banner-05.jpg");
}

html body .eg-title{
    font-family:'P22Underground', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
    margin: 0 0 20px 10px;
    z-index: 2;
}

html body .eg-cta{
    padding: 10px;
    height: 46px;
    display: flex;
    background-color: #FFFFFF;
    font-family: 'P22Underground', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    width: 92%;
    margin: 0 auto 13px;
    justify-content: center;
    text-decoration: none;
    z-index: 2;
}

html body .eg-cta:hover{
    background-color: #000000;
    color: #FFFFFF;
}

html body .eg-image-tile::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.20) 0%,
    rgba(0, 0, 0, 0.50) 61.5%,
    rgba(0, 0, 0, 0.60) 100%
  );
  z-index: 1;
}

@media screen and (min-width:1431px){
    html body .eg-image-container{
        max-width: 1640px;
    }  
}

@media screen and (min-width:767px) and (max-width: 1024px){
    html body .eg-image-container {
    width: 96%;
    
    }
    html body .eg-image-wrapper {
        display: flex;
        grid-gap: 20px; 
    }
}

@media screen and (min-width: 1025px){
    html body .eg-image-wrapper{
        display: flex;
        grid-gap: 40px;
    }
}

@media screen and (max-width: 767px) {
    html body .eg-image-tile {
        min-width: 274px;
        height: 318px;
        margin-right: 10px;
    }

    html body .eg-cta {
        margin: 0 auto 13px;
        width: 90%;
    }

    html body .eg-title {
        margin: 0 auto 20px;
        width: 90%;
    }

    html body .eg-pagination {
        bottom: -30px !important;
        display: flex;
        position: absolute;
        left: 0 !important;
        right: 0;
        transform: none;
        width: auto !important;
        justify-content: center;
        margin: -36px 0 0 0;
        padding: 0 16px;
        margin-top: 0;
    }
    html body .swiper-pagination-bullet {
        display: flex;
        flex: 1 1 auto;
        border-radius: 0;
        margin: 0 2px !important;
        max-width: 100%;
        padding: 17px 0;
        width: 20px;
        height: 4px;
        position: relative;
    }

    html body .swiper-pagination-bullet-active {
        border-color: rgba(0, 0, 0, 0);
        background-color: #081f2c;
    }
}