@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html body .container{
    border: 1px solid black; 
    width: 100%
}

html body .container .parent-container{
    border: 2px solid black;
    width: 100%;
    background-color: #f2f2f2;
}

/* Title-panel css start */

html body .container .parent-container .title-panel{
    text-align: center;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/1344cefe31ad52a0b9996531/pexels-photo-4264212.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    max-width: 2250px;
    min-height: 750px;
    background-position: center;
    object-fit: cover;
    display: flex;
    vertical-align: middle;
    background-size: cover;
}

.title-content{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-name{
    font-size: 6rem;
    font-weight: 700;
    margin: 60px auto 0;
    font-family: Raleway, sans-serif !important;
    line-height: 1.1;
    color: #ffffff !important;
    word-wrap: break-word;
    position: relative;
    text-align: center;
    margin-bottom: 2%;
}

.profession-name{
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 0;
    font-size: 1.5rem;
    position: relative;
    word-wrap: break-word;
    font-family: Roboto, sans-serif;
    background-color: #1934fd;
    color: #ffffff;
    text-align:center;
    /* margin-right: 35%;
    margin-left: 35%; */
    padding-top: 1%;
    padding-bottom: 1%;
}

.title-about{
    margin: 30px auto 60px;
    color: #ffffff !important;
    word-wrap: break-word;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .title-content{
        margin-right: 4%;
        margin-left: 4%;
    }
    .title-panel{
        min-height: 600px !important;
    }
    .title-name{
        font-size: 4rem;
    }
}

@media screen and (max-width:767px){
    .title-content{
        margin-right: 4%;
        margin-left: 4%;
    }
    .title-panel{
        min-height: 450px !important;
    }
    .title-name{
        font-size: 3rem;
    }
}

/* Title-panel css end */

/* About-panel start=> */

html body .container .parent-container .about-panel{
    /* border: 2px solid black; */
    background-image: none;
    color: #111111;
    background-color: #f2f2f2;
    position: relative;
    box-sizing: border-box;
}

.about-panel-box{
    margin: 0 10.6%;
    position: relative;
}

.photo-about{
    /* border: 2px solid black; */
    pointer-events: initial;
    margin-top: 60px;
    margin-bottom: 0;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: fit-content;
    max-width: 100%;
    flex: 30 0 50%;
}

.photo-about-heading{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    min-height: 100%;
    max-width: 100%;
    flex: 1 1 100%;
}

.employee-image{
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 50%;
    min-height: 513px;
    background-color: transparent !important;
    opacity: 1;
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
}

.employee-image-box{
    padding: 30px;
    justify-content: flex-start;
    position: relative;
    flex: 1;
    max-width: 100%;
}

html body .container .parent-container .about-panel .photo-about .photo-about-heading .employee-image .employee-image-box
 img{
    width: 312px;
    height: 453px;
    object-position: 50% 0%;
    margin: 0 auto;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    border-style: none;
}

.about-heading{
    /* border: 2px solid black; */
    min-height: 513px;
    background-image: none;
    text-align: left;
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 50%;
    color: #111111;
    background-color: #ffffff;
}

.about-heading-box{
    padding: 30px 60px 30px 30px;
    position: relative;
    flex: 1;
    max-width: 100%;
}

html body .container .parent-container .about-panel .photo-about .photo-about-heading .about-heading .about-heading-box
h2{
    margin-bottom: 0;
    margin-top: 64px;
    font-size: 3rem;
    font-weight: 800;
    font-family: Raleway, sans-serif !important;
    line-height: 1.1;
}

html body .container .parent-container .about-panel .photo-about .photo-about-heading .about-heading .about-heading-box
h6{
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 20px 0 0;
    word-wrap: break-word;
    position: relative;
    font-family: Roboto, sans-serif;
}

html body .container .parent-container .about-panel .photo-about .photo-about-heading .about-heading .about-heading-box
p {
    font-weight: 400;
    line-height: 2;
    margin: 20px 0 0;
    font-family: Montserrat, sans-serif !important;
        /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    word-wrap: break-word;
    position: relative;
    text-align: justify;
}

.about-panel-content{
    /* border: 2px solid black; */
    min-height: 188px;
    background-image: none;
    flex: 0 0 100%;
    max-width: 100%;
    min-width: 100%;
    color: #111111;
    background-color: #ffffff;
    text-align: justify;
}

.about-subcontent{
    padding: 30px 60px;
    justify-content: center;
}

html body .container .parent-container .about-panel-content .about-subcontent
p{
    font-weight: 400;
    font-size: 1.25rem;
    margin: 16px 0 0;
    font-family: Montserrat, sans-serif !important;
    word-wrap: break-word;
    position: relative;
    text-align: justify;
}

.title-about-sidebar{
    /* border: 2px solid black; */
    color: #ffffff;
    background-color: #1934fd;
    width: 386px;
    min-height: 232px;
    margin: 31px 0 80px auto;
    pointer-events: initial;
    justify-content: flex-start;
}

.sidebar-content-box{
    padding: 30px 30px 28px;
    color: #ffffff;
    background-color: #1934fd
}

.sidebar-content{
    line-height: 1.8;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.social-icons{
    /* border: 1px solid black; */
    height: 32px;
    min-height: 16px;
    width: 116px;
    min-width: 68px;
    /* margin: 30px auto 0 0; */
    margin: 0 auto 0 29px;
    position: relative;
    display: flex;
}

.social-icons a{
    height: 100%;
    display: inline-block;
    flex: 1;
}

.social-url{
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    /* -webkit-text-decoration-skip: objects; */
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.icon-social-facebook{
    display: flex;
    height: 100% !important;
    color: #ffffff !important;
    line-height: 0;
    border-width: 0px;
}

.icon-social-twitter{
    display: flex;
    height: 100% !important;
    color: #ffffff !important;
    line-height: 0;
    border-width: 0px;
}

.icon-social-instagram{
    display: flex;
    height: 100% !important;
    color: #ffffff !important;
    line-height: 0;
    border-width: 0px;
}

.svg-link {
    width: 100%;
    height: 100%;
}

.svg-content {
    width: 0;
    height: 0;
}

@media screen and (min-width:768px) and (max-width:1024px){
    .about-panel-box{
        margin: 0 3%;
    }
}

@media  screen and (min-width:376px) and (max-width:767px) {
    .photo-about-heading{
        flex-direction: column;
    }
    .employee-image{
        max-width: 100%;
    }
    .about-heading{
        max-width: 100%;
    }
    .title-about-sidebar{
        width: 274px;
    }
    .employee-image-box{
        padding: 0px;
    }
}

@media screen and (max-width:375px){
    .photo-about-heading{
        flex-direction: column;
    }
    .employee-image{
        max-width: 100%;
    }
    .about-heading{
        max-width: 100%;
    }
    .title-about-sidebar{
        width: 274px;
    }
    .employee-image-box{
        padding: 0px;
    }
    html body .container .parent-container .about-panel .photo-about .photo-about-heading .employee-image .employee-image-box
     img{
        width: 100% !important;
     }
}

/* About-panel end */

/* Todolist-image-panel start=> */

.todolist-image-panel{
    border: none;
    background-image: none;
    color: #111111;
    background-color: #f2f2f2;
    position: relative;
}

.todolist-image-panel-box{
    min-height: 763px;
    margin: 0 10%;
}

.todo-list{
    width: 50%  ;
    min-height: 540px;
    background-image: none;
    height: auto;
    margin: 0px auto 0 0;
    color: #111111;
    background-color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-list-box{
    padding: 0 30px;
    position: relative;
    flex: 1;
    max-width: 100%;
    color: #111111;
    background-color: #ffffff;
}

.todo-list-box h4{
    letter-spacing: normal;
    font-size: 3rem;
    font-weight: 800;
    text-transform: none;
    margin: 59px 0 0;
    line-height: 1.2;
    word-wrap: break-word;
    font-family: Raleway, sans-serif !important;
    padding-left: 0;
}

.todo-list-points{
    line-height: 2;
    font-size: 1.29rem;
    font-style: normal;
    color: rgb(17, 17, 17) !important;
    font-weight: 700;
    margin: 20px auto 0 0;
    /* list-style-type: none; */
    padding-left: 0;
    word-wrap: break-word;
    position: relative;
}

.todo-list-points li{
    margin-bottom: 10px;
    position: relative;
    margin-left: 1.4em;
    word-wrap: break-word;
}

.list-content{
    font-size: 1rem;
    margin: 14px 0 0;
    word-wrap: break-word;
}

.list-image{
    width: 317px;
    height: 438px;
    margin: -335px 0 60px auto;
    stroke: none;
    border-color: #1934fd;
    border-width: 20px;
    border-style: solid;
    background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/71afcb8117dd5111acbe4782/pexels-photo-2468487.jpeg");
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* .list-image img{
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: inherit;
} */

@media screen and (min-width: 768px) and (max-width: 1024px){
    .todo-list{
        width: 70%;
    }
    .todo-list-box h4 {
        font-size: 2rem;
    }
    .todo-list-points{
        font-size: 1rem;
    } 
    .list-image{
        margin: 30px 0 60px auto;
    }
}

@media  screen and (min-width:376px) and (max-width:767px) {
    .todo-list{
        width: 100%;
        margin: 0px auto 35px 0;
    }
    .todo-list-box h4 {
        font-size: 2rem;
    }
    .todo-list-points{
        font-size: 1rem;
    } 
    .list-image{
        margin: 30px 0 60px auto;
        width: 244px;
    }
}

@media  screen and (max-width:375px){
    .title-about-sidebar{
        width: 100%;
    }
    .todo-list{
        width: 100%;
        margin: 0px auto 35px 0;
    }
    .todo-list-box h4 {
        font-size: 2rem;
    }
    .todo-list-points{
        font-size: 1rem;
    } 
    .list-image{
        margin: 30px 0 60px auto;
        width: 100%;
        border-width: 10px;
    }
}

/* Todolist-image-panel End */

/* image-panel Start=> */

.image-panel{
    /* border: 2px solid black; */
    background-image: none;
    color: #111111;
    background-color: #f2f2f2; 
    position: relative;
    text-align: center;
}

.image-panel-box{
    pointer-events: none;
    /* min-height: 1161px; */
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.image-heading{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 60px auto 0 0px;
    word-wrap: break-word;
    position: relative;
    padding: 0;
    font-family: Roboto, sans-serif;
    /* text-align: center; */
}

.image-subheading{
    font-size: 3rem;
    font-weight: 700;
    font-family: Raleway, sans-serif !important;
    margin: 20px 209px 0;
    line-height: 1.1; 
    word-wrap: break-word;
    position: relative;
}

.image-gallery{
    /* border: 2px solid black; */
    height: 745px;
    width: 1140px;
    grid-gap: 17px;
    margin: 60px auto 0;
    /* display: block; */
    position: relative;
    padding: 0%;
}

.image-gallery-box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 41px;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}

/* .image-line-one{
    display: flex;
}*/

.image-gallery-box img{
    height: 335px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.image-panel-link{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 1rem;
    margin: 30px auto 0;
    text-align: center;
}

.link{
    font-family: 'Open Sans', sans-serif;
    color: #111111 !important;
    border-style: none none solid;
    padding: 0;
    border-width: 1px;
    /* border-color: #ff8e02 !important; */
    /* color: #ff8e02 !important; */
    background-color: transparent !important;
    text-decoration: none;
}

/* .image-panel-button{
    font-size: 1.5rem;
    color: #ffffff !important;
    border-width: 3px;
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 2%;
    margin-left: 42%;
    margin-bottom: 3%;
    background-color: #1934fd !important;
    text-align: center;
    padding: 10px 30px;
    display: table;
} */

.image-panel-button button{
    color: white;
    background: none;
    border: none;
    font-size: 1.5rem;
    background-color: #1934fd;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 4%;
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    .image-subheading{
        margin: 0px 10% 0;
    }
    .image-panel-box{
        min-height: 0;
        width: 100%;
    }
    .image-gallery{
        margin: 10%;
        height: 1119px;
        width: 80%;
        margin-bottom: 0 !important;
    }
    .image-gallery-box{
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1155px){
    .image-gallery-box img{
        height: 300px;
        width: 90%;
        margin: auto !important;
    }
    .image-gallery{
        height: 700px;
        width: 100%;
    }
    .image-panel-box{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .image-gallery-box{
        grid-template-columns: repeat(1, auto);
    }
    .image-gallery{
        margin: 20%;
        height: 1800px;
        width: 60%;
        margin-bottom: 0 !important;
    }
    
    .image-panel-box{
        min-height: 0;
        width: 100%;
    }
    .image-subheading{
        margin: 0px 1% 0;
    }
    .image-gallery-box img{
        height: 260px;
    }
}

/* Image-panel-end */

/* Goals-panel Start => */

.goals-panel{
    /* border: 1px solid black; */
    background-color: #ffffff;
    width: 100%;
    margin: 60px auto;
}

.goals-panel-box{
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.goals-image{
    width:329px;
    height: 438px;
    margin-top: 7%;
    margin-left: 15%;
    margin-bottom: 10%;
    margin-right: 4%;
    /* width: 19%; */
    border-color: #1934fd;
    border-width: 20px;
    border-style: solid;
}

.goals-image img{
    width: 100%;
    height: 438px;
    margin: 0 0 0 auto;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.goals-content-container{
    padding: 30px 89px;
    margin-top: 5%;
    text-align: left;
    width: 34%;
}

.goals{
    padding-bottom: 6%;
    border-bottom: 1px solid #b3b3b3 !important;;
}

.goals-heading{
    font-size: 3rem;
    font-weight: 800;
    margin: 22px 1px 0;
    font-family: Raleway, sans-serif !important;
    color: #111111;
    word-wrap: break-word;
}

.goals-content{
    font-size: 1.25rem;
    font-weight: 700;
    margin: 20px 0 0;
    word-wrap: break-word;
    color: #111111;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.quality{
    border-bottom: 1px solid #b3b3b3 !important;
    padding-bottom: 6%;
}

.quality-heading{
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px auto 0 0;
    word-wrap: break-word;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
    color: #111111;
}

.quality-content{
    margin: 21px 0 0;
    color: #b3b3b3 !important;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.results{
    border-bottom: 1px solid #b3b3b3 !important;
    padding-bottom: 6%;
}

.results-heading{
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px auto 0 0;
    word-wrap: break-word;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
    color: #111111;
}

.results-content{
    margin: 21px 0 0;
    color: #b3b3b3 !important;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

@media screen and (min-width:992px) and (max-width:1199px){
    .goals-image img{
        width: 285px;
        height: 379px;
    }
    .goals-image{
        width: 285px;
        height: 379px;
    }
    .goals-content-container{
        padding: 30px 43px;
        width: 43%;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .goals-image img{
        width: 204px;
        height: 271px;
    }
    .goals-image{
        width: 204px;
        height: 271px;
    }
    .goals-content-container{
        padding: 30px 15px;
        width: 43%;
    }
}

@media screen and (min-width:496px) and (max-width:767px){
    .goals-panel-box{
        flex-direction: column;
    }
    .goals-image{
        width: 204px;
        height: 271px;
        margin-bottom: 2%;
        margin-left: 46%;
    }
    .goals-image img{
        width: 204px;
        height: 271px;
    }
    /* .goals-image-box{
        text-align: right;
    } */
    .goals-content-container{
        width: 90%;
        margin: 5%;  
        padding: 0;  
    }
}

@media screen and (min-width:280px) and (max-width:495px){
    .goals-panel-box{
        flex-direction: column;
    }
    .goals-image{
        width: 190px;
        height: 245px;
        margin-bottom: 2%;
        margin-left: 10%;
    }
    .goals-image img{
        width: 190px;
        height: 245px;
    }
    .goals-content-container{
        width: 90%;
        margin: 5%;  
        padding: 0;  
    }
}

@media screen and (max-width:280px){
    .goals-panel-box{
        flex-direction: column;
    }
    .goals-image{
        width: 190px;
        height: 245px;
        margin-bottom: 2%;
        margin-left: 3%;
    }
    .goals-image img{
        width: 190px;
        height: 245px;
    }
    .goals-content-container{
        width: 90%;
        margin: 5%;  
        padding: 0;  
    }
}

/* Goals-panel End */

/* Quote-panel Start=> */

.Quote-panel{
    /* border: 1px solid black; */
    margin: 0 auto;
    
}

.Quote-panel-box{
    /* border: 2px solid red; */
    margin: 0 14%;
}

.svg-link{
    /* border: 2px solid blue; */
    width: 64px;
    height: 64px;
    /* margin: 1% auto 0 0; */
    fill: #1934fd !important;
    /* border-radius: 50%; */
}

.quote-heading{
    font-size: 1.5rem;
    line-height: 1.6;
    font-style: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px 188px 0 0;
    word-wrap: break-word;
    font-family: Roboto, sans-serif;
    color: #111111;
}

.quote-content{
    font-size: 0.875rem;
    margin: 20px 594px 0 0;
    word-wrap: break-word;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.quote-image-box{
    width: 329px;
    height: 438px;
    margin: -63px 0 60px auto;
    border-color: #1934fd;
    border-width: 20px;
    border-style: solid;
}

.quote-image{
    width: 329px;
    height: 438px;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

@media screen and (min-width:992px) and (max-width:1199px){
    .quote-image{
        width: 288px;
    height: 367px;
    }
    .quote-image-box {
        width: 288px;
        height: 367px;
    }
    .quote-content{
        margin-right: 40%;
    }
    .quote-heading{
        margin: auto;
    }
    .Quote-panel-box{
        margin: 0 6%;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .quote-image{
        width: 251px;
        height: 320px;
    }
    .quote-image-box {
        width: 251px;
        height: 320px;
        margin-top: 33%;
        border-width: 10%;
    }
    .quote-content{
        margin-right: 30%;
    }
    .quote-heading{
        margin: auto;
    }
    .Quote-panel-box{
        margin: 0 6%;
    }
}

@media screen and (min-width:316px) and (max-width:767px) {
    .quote-image{
        width: 251px;
        height: 320px;
    }
    .quote-image-box {
        width: 251px;
        height: 320px;
        margin-top: 6%;
        border-width: 12px;
    }
    .quote-content{
        margin: 0;
        margin-top: 6%;
    }
    .quote-heading{
        margin: auto;
    }
    .Quote-panel-box{
        margin: 0 5%;
    }
}

@media screen and (max-width:315px){
    .quote-image{
        width: 100%;
        height: 300px;
    }
    .quote-image-box {
        width: 70%;
        height: 300px;
        margin-top: 6%;
        border-width: 12px;
    }
    .quote-content{
        margin: 0;
        margin-top: 6%;
    }
    .quote-heading{
        margin: auto;
    }
    .Quote-panel-box{
        margin: 0 5%;
    }
}

/* Quote-panel end */

/* strategy-panel start */

.strategy-panel{
    /* border: 1px solid black; */
    margin: 0 14%;
    margin-top: 10%;
}

.strategy-panel-box{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex;
}

.brand-strategy{
    max-width: 50%;
    min-width: 50%;
    text-align: left;
    background-color: transparent !important;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.brand-strategy-heading{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
    padding-top: 5%;
    padding-right: 2%;
    padding-left: 3%;
}

.brand-strategy-content{
    font-weight: 300;
    margin: 20px 0 0;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    padding-top: 2%;
    padding-right: 11%;
    padding-left: 3%;
}

.brand-strategy-list{
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 700;
    margin: 28px 0 0;
    padding-left: 40px;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

.list-icon{
    display: inline-block;
    width: 1em;
    padding-right: 10px;
    fill: currentColor;
    text-align: center;
}

.chat-now-icon{
    border-style: none;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 30px auto 0 0;
    padding: 0;
    color: #000000;
    text-decoration: none;
    padding-right: 2%;
    padding-left: 3%;
    padding-bottom: 5%;
}

.icon-chat{
    fill: #1934fd !important;
}

.communication-strategy{
    max-width: 50%;
    min-width: 50%;
    text-align: left;
    background-color: #1934fd;
    color: #ffffff;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.communication-strategy-heading{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
    padding-top: 5%;
    padding-right: 2%;
    padding-left: 3%;
}

.communication-strategy-content{
    font-weight: 300;
    margin: 20px 0 0;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    padding-top: 2%;
    padding-right: 11%;
    padding-left: 3%;
}

.communication-strategy-list{
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 700;
    margin: 28px 0 0;
    padding-left: 40px;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

.list-icon{
    display: inline-block;
    width: 1em;
    padding-right: 10px;
    fill: currentColor;
    text-align: center;
}

.call-icon{
    border-style: none;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 30px auto 0 0;
    padding: 0;
    color: #ffffff !important;
    text-decoration: none;
    padding-bottom: 5%;
    padding-right: 2%;
    padding-left: 3%;
}

.icon-call{
    fill: #ffffff !important;
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .strategy-panel{
        margin: 0 5%;
    }
}

@media screen and (max-width:767px) {
    .strategy-panel{
        margin: 0 10%;
    }
    .strategy-panel-box{
        flex-direction: column; 
    }
    .brand-strategy{
        width: 100% !important;
        min-width: none;
        max-width: none;
    }
    .communication-strategy{
        width: 100% !important;
        min-width: none;
        max-width: none;
    }
}

.footer{
    color: #ffffff;
    background-color: #333333;
    padding-bottom: 2%;
    /* padding: 6vh; */
    /* margin-top: 20px; */
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    width: 100%;
}
.footer-content{
    display: flex;
    flex-direction: column;
    grid-gap: 60px;
    text-align: center;
}

.link2{
    color: rgb(100, 190, 190);
    text-decoration: underline;
}

