@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



html body .container{
    /* border: 1px solid black;  */
    width: 100%
}

html body .container .parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html body .container .parent .contentpanel .icon1{
    font-size: 5rem;
    fill: #000000;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: 0;
    padding-top: 3%;
}

html body .container .parent .contentpanel .icon2{
    font-size: 5rem;
    fill: #000000;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: 0;
    text-align: right;
}

html body .container .parent .contentpanel{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* border: 5px solid black; */
    /* align-items: center; */
    padding: 11px 150px 0;
    justify-content: center;
    /* position: relative; */
    flex: 1;
    color: #111111;
    background-color: #f6f4fe;
}

html body .container .parent .contentpanel .content{
    max-width: 100%;
    color: #111111;
    font-size: 3rem;
    margin: -35px 0 0;
    line-height: 1.6;
    font-family: 'Playfair Display', serif !important;
    display: table;
    align-self: flex-start;
    word-wrap: break-word;
    font-weight: 400;
    /* font-size: 1.5rem; */
    line-height: 1.2;

}

html body .container .parent .photopanel{
    /* border: 5 px solid black; */
    background-image: url("https://i.ibb.co/J59VPfg/pexels-photo-1685114.jpg");
    width: 196px;
    height: 196px;
    background-size: cover;
    background-position: 50% 50%;
    margin: -84px auto 0;
    border-radius: 50%;
}

html body .container .parent .namepanel{
    /* border: 5px solid black; */
    font-weight: 300;
    letter-spacing: 2px;
    margin: 31px calc(((100% - 1140px) / 2) + 319px) 60px;
    text-align: center;
    width: 30%;
}

h5{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
}



.footer{
    color: #ffffff;
    background-color: #333333;
    padding: 6vh;
    /* margin-top: 20px; */
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    /* width: 100%; */
}
.footer-content{
    display: flex;
    flex-direction: column;
    /* grid-gap: 60px; */
    text-align: center;
}

.link2{
    color: rgb(100, 190, 190);
    text-decoration: underline;
}

@media screen and (max-width : 1024px){
    .contentpanel{
        width: 100%;
    }
    .namepanel{
        width: 80%;
    }
    .footer{
        font-size: 1rem;
    }
}