@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html body .container{
    background-color: white;
}

html body .container .header-container{
    width: 100%;
    color: #ffffff;
    background-color:white;
}

/* Header section start=> */

html body .container .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 11%;
        min-height: 80px;
}

.logoicon{
    display: flex;
    align-items: center;
}
.logoicon img{
    height: 32px;
}

.menu-btn {
    cursor: pointer;
    padding: 10px;
    background:none;
    color: black;
    text-align: center;
    border: none;
    font-size: 2rem;
}
  /* Style for the menu content */
#menuContent {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px; 
    height: 100%;
    background-color:black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0.8;
}

#menuContent ul {
    list-style-type: none;
    padding: 0;
    margin-top: 64px;
    text-align: center;
}

#menuContent ul li {
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

#menuContent ul li a {
    color: white;
    text-decoration: none;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 17px;
    color: #fff;
    cursor: pointer;
    font-size: 28px;
}

/* Header section end. */

/* Hero-section start=> */

.hero-section{
    background-color: #e0e5eb;
    height: 1030px;
}

.blue-purple-cover{
    padding-top: 150px;
}

.purple-blue-box{
    height: 385px;
    margin-top: 60px;
    margin-bottom: 0;
    background-image: linear-gradient(to right, #f16fa9, #8673e7);
}

.blue-purple-cover img{
    width: 890px;
    height: 622px;
    object-fit: cover;
    margin: -522px auto 0 calc(((100% - 1140px) / 2));
}

.hero-section-content-box{
    height: 426px;
    width: 584px;
    margin: -159px calc(((100% - 1140px) / 2)) 0 auto;
    background-color: white;
    position: relative;
}

.hero-section-content-box h1{
    font-weight: 700;
    font-size: 3rem;
    padding: 70px 0 20px 55px;
    line-height: 1.1;
    color: #f16fa9 !important;
    font-family: Oswald, sans-serif;
}

.hero-section-content-box p{
    margin: 0 0 20px 55px;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    font-weight: 300;
}

.hero-section-content-box a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid black; 
}

.primary-button{
    padding: 18px 46px;
    margin-left: 55px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    background-image: none;
    text-align: center;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: #111111 !important;
    background-color: #e5e5e5 !important;
    cursor: pointer;
}

.primary-button:hover{
    color: #111111 !important;
    background-color: #cecece !important;
}

.purple-blue-circle{
    width: 219px;
    height: 219px;
    background-image: linear-gradient(#f16fa9, #8673e7);
    margin: -346px auto 49px calc(((100% - 1140px) / 2) + 123px);
    position: relative;
    border-radius: 50%;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .blue-purple-cover img{
        width: 856px;
        height: 598px;
        margin-left: calc(((100% - 940px) / 2));
    }
    .hero-section-content-box{
        width: 566px;
        margin-top: -135px;
        margin-right: calc(((100% - 940px) / 2));
    }
    .purple-blue-circle{
        margin-top: -356px;
        margin-bottom: 60px;
        margin-left: calc(((100% - 940px) / 2) + 67px);
    }
    .purple-blue-box{
        margin-top: 208px;
    }
    .hero-section{
        height: 1022px;
    }
    .blue-purple-cover{
        padding-top: 5px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .blue-purple-cover img{
        width: 655px;
        height: 554px;
        margin-left: calc(((100% - 720px) / 2));
    }
    .hero-section-content-box{
        width: 566px;
        margin-top: -142px;
        margin-right: calc(((100% - 720px) / 2));
    }
    .purple-blue-circle{
        width: 178px;
        height: 178px;
        margin-top: 19px;
        margin-bottom: 36px;
        margin-left: calc(((100% - 720px) / 2) + 32px);
    }
    .purple-blue-box{
        margin-top: 202px;
    }
    .hero-section{
        height: 1165px;
    }
    .blue-purple-cover{
        padding-top: 5px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .blue-purple-cover img{
        width: 500px;
        height: 356px;
        position: relative;
        top: -109px;
        margin-left: calc(((100% - 540px) / 2));
    }
    .hero-section-content-box{
        width: 417px;
        height: 486px;
        margin-top: -158px;
        margin-right: calc(((100% - 540px) / 2));
    }
    .purple-blue-circle{
        margin-top: 19px;
        width: 151px;
        height: 151px;
        margin-bottom: -123px;
        margin-left: calc(((100% - 540px) / 2));
    }
    .purple-blue-box{
        height: 278px;
        margin-top: 226px;
    }
    .hero-section{
        height: 1080px;
    }
    .blue-purple-cover{
        padding-top: 1px;
    }
    .hero-section-content-box h1{
        padding: 35px 0 20px 34px;
    }
    .hero-section-content-box p{
        margin: 0 0 20px 34px;
        width: 84%;
    }
    .hero-section-content-box a{
        display: table;
    }
    .hero-section-content-box button{
        margin-left: 34px;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {
    .blue-purple-cover img{
        width: 340px;
        height: 242px;
        margin-top: -460px;
        display: flex;
        margin-left: auto;
    }
    .hero-section-content-box{
        width: 288px;
        height: 492px;
        margin-top: -30px;
        margin-right: auto;
    }
    .purple-blue-circle{
        margin-top: 19px;
        width: 125px;
        height: 125px;
        margin-bottom: -118px;
        margin-left: calc(((100% - 340px) / 2));
    }
    .purple-blue-box{
        height: 278px;
        margin-top: 226px;
    }
    .hero-section{
        height: 971px;
    }
    .blue-purple-cover{
        padding-top: 1px;
    }
    .hero-section-content-box h1{
        padding: 35px 0 20px 25px;
        font-size: 2.25rem;
    }
    .hero-section-content-box p{
        margin: 0 0 20px 25px;
        width: 90%;
    }
    .hero-section-content-box button{
        margin-left: 25px;
    }
}

@media screen and (max-width:360px) {
    .blue-purple-cover img{
        width: 100%;
        height: 242px;
        margin-top: -460px;
        display: flex;
        margin-left: auto;
    }
    .hero-section-content-box{
        width: 95%;
        height: 492px;
        margin-top: -30px;
        margin-right: auto;
    }
    .purple-blue-circle{
        margin-top: 19px;
        width: 125px;
        height: 125px;
        margin-bottom: -118px;
        margin-left: calc(((100% - 225px) / 2));
    }
    .purple-blue-box{
        height: 278px;
        margin-top: 226px;
    }
    .hero-section{
        height: 971px;
    }
    .blue-purple-cover{
        padding-top: 1px;
    }
    .hero-section-content-box h1{
        padding: 25px 8px 20px 8px;
        font-size: 2.25rem;
    }
    .hero-section-content-box p{
        margin: 0 8px 20px 8px;
        width: 90%;
    }
    .hero-section-content-box button{
        margin-left: 8px;
    }
}

/* hero section :end */

/* services section start */

.services-section{
    background-color: white;
}

.icons-section{
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1140px;
}

.choice{
    height: 418px;
    padding: 30px 20px;
    width: 25%;
}

.gradient{
    color: rgb(255, 255, 255) !important;
    margin: 0 auto 0 0; 
    border-radius: 50%;
    width: 78px;
    height: 78px;
    margin-top: 10px;
    background-color: #f5773d;
    background-image: linear-gradient(#f16fa9, #8673e7);
}

.u-svg-link{
    fill: #ffffff;
    width: 100%;
    height: 100%;
    padding: 17px;
}

.u-svg-content {
    width: 0;
    height: 0;
}

.icon-heading{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px 4px 0 0;
    color: #f16fa9;
    line-height: 1;
    letter-spacing: 2px;
    font-family: Oswald, sans-serif;
}

.icon-content{
    line-height: 1.8;
    margin: 20px 4px 0 0;
    font-size: 1.125rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.experience{
    height: 418px;
    padding: 30px 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.service{
    height: 418px;
    padding: 30px 20px;
    width: 25%;
}

.support{
    height: 418px;
    padding: 30px 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.insurence-services h2{
    font-size: 4.5rem;
    line-height: 79.2px;
    text-transform: none;
    font-weight: 400;
    margin: 30px 0 60px;
    color: #f16fa9 !important;
    font-family: Oswald, sans-serif;
    text-align: center;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .insurence-services h2{
        font-size: 5rem;
        margin-bottom: 51px;
    }
    .icon-content{
        margin-right: 0;
    }
    .icon-heading{
        margin-right: 0;
    }
    .choice{
        height: 389px;
    }
    .experience{
        height: 389px;
    }
    .service{
        height: 389px;
    }
    .support{
        height: 389px;
    }
    .icons-section{
        max-width: 940px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .insurence-services h2{
        font-size: 4.5rem;
        margin-bottom: 51px;
    }
    .icon-content{
        margin-right: 0;
    }
    .icon-heading{
        margin-right: 0;
    }
    .choice{
        height: 309px;
        width: 44%;
    }
    .experience{
        height: 309px;
        width: 44%;
    }
    .service{
        height: 309px;
        width: 44%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .support{
        height: 309px;
        width: 44%;
        justify-content: flex-start;
    }
    .icons-section{
        max-width: 720px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .insurence-services{
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }
    .insurence-services h2{
        margin-bottom: 60px;
        font-size: 3rem;
        text-align: left;
    }
    .icon-content{
        margin-right: 0;
    }
    .icon-heading{
        margin-right: 0;
    }
    .choice{
        height: 209px;
        width: 92.5%;
    }
    .experience{
        height: 209px;
        width: 92.5%;
        justify-content: flex-start;
    }
    .service{
        height: 209px;
        width: 92.5%;
    }
    .support{
        height: 209px;
        width: 92.5%;
        justify-content: flex-start;
    }
    .icons-section{
        max-width: 540px;
        flex-direction: column;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {
    .insurence-services{
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
    }
    .insurence-services h2{
        margin-bottom: 60px;
        font-size: 2.25rem;
        text-align: left;
    }
    .icon-content{
        margin-right: 0;
    }
    .icon-heading{
        margin-right: 0;
    }
    .choice{
        height: 249px;
        width: 90%;
    }
    .experience{
        height: 249px;
        width: 90%;
        justify-content: flex-start;
    }
    .service{
        height: 249px;
        width: 90%;
    }
    .support{
        height: 249px;
        width: 90%;;
        justify-content: flex-start;
    }
    .icons-section{
        max-width: 340px;
        flex-direction: column;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .insurence-services{
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }
    .insurence-services h2{
        margin-bottom: 60px;
        font-size: 3rem;
        text-align: left;
    }
    .icon-content{
        margin-right: 0;
    }
    .icon-heading{
        margin-right: 0;
    }
    .choice{
        height: 209px;
        width: 92.5%;
    }
    .experience{
        height: 209px;
        width: 92.5%;
        justify-content: flex-start;
    }
    .service{
        height: 209px;
        width: 92.5%;
    }
    .support{
        height: 209px;
        width: 92.5%;
        justify-content: flex-start;
    }
    .icons-section{
        max-width: 540px;
        flex-direction: column;
    }
}

@media screen and (max-width:360px) {
    .insurence-services{
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
    }
    .insurence-services h2{
        margin-bottom: 60px;
        font-size: 2.25rem;
        text-align: left;
    }
    .icon-content{
        margin-right: 0;
    }
    .icon-heading{
        margin-right: 0;
    }
    .choice{
        height: 249px;
        width: 90%;
        padding: 30px 12px;
    }
    .experience{
        height: 249px;
        width: 90%;
        justify-content: flex-start;
        padding: 30px 12px;
    }
    .service{
        height: 249px;
        width: 90%;
        padding: 30px 12px;
    }
    .support{
        height: 249px;
        width: 90%;;
        justify-content: flex-start;
        padding: 30px 12px;
    }
    .icons-section{
        max-width: 100%;
        flex-direction: column;
    }
}

/* .services-section End */

/* medical-insurence section start */

.medical-insurence-section{
    background-color: #e0e5eb;
    height: 775px;
}

.medical-insurence-cover{
    padding-top: 5px;
    max-width: 1140px;
    margin: 0 auto;
}

.medical-color-box{
    height: 346px;
    background-image: linear-gradient(#f16fa9, #8673e7);
    margin-top: 70px;
    margin-bottom: 0;
    width: 100%;
}

.medical-content{
    width: 35%;
    margin-left: 3%;
}

.medical-content-image-box{
    width: 997px;
    margin: -296px auto 0;
    background-color: white;
    height: 530px;
    display: flex;
    flex-direction: row;
}

.medical-content h3{
    letter-spacing: 2px;
    font-size: 2.75rem;
    line-height: 44px;
    font-weight: 700;
    margin: 42px 0 0;
    color: #f16fa9;
    font-family: Oswald, sans-serif;
}

.medical-line{
    width: 259px;
    height: 15px;
    background-image: linear-gradient(to right, #8673e7, #f16fa9);
    margin: 30px auto 0 0;
}

.medical-content p{
    line-height: 2;
    font-size: 1rem;
    margin: 20px 0 0;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.medical-link{
    line-height: 2;
    font-size: 1rem;
    margin: 20px 0 0;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #f16fa9;
    color: black;
}

.primary-button-2{
    padding: 18px 46px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    background-image: none;
    text-align: center;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: #111111 !important;
    background-color: #e5e5e5 !important;
    cursor: pointer;
}

.primary-button-2:hover{
    color: #111111 !important;
    background-color: #cecece !important;
}

.medical-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62%;
}

.medical-image img{
    margin-bottom: 0;
    margin-top: 0;
    height: 493px;
    object-fit: contain;
}

.bottom-link{
    font-style: italic;
    width: 246px;
    margin: 30px auto 60px;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.medical-link-2{
    text-decoration:none;
    color: black;
    border-bottom: 1px solid #8673e7;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .medical-image img{
        height: 463px;
    }
    .medical-content-image-box{
        width: 848px;
    }
    .medical-color-box{
        margin-top: 60px;
    }
    .medical-insurence-section{
        height: 766px;
    }
    .medical-insurence-cover {
        max-width: 940px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .medical-image img{
        height: 408px;
    }
    .medical-content-image-box{
        width: 660px;
        height: auto;
        padding-bottom: 30px;
    }
    .medical-color-box{
        margin-top: 60px;
    }
    .medical-insurence-section{
        height: auto;
        padding-bottom: 1px;
    }
    .medical-insurence-cover {
        max-width: 740px;
    }
    .medical-content {
        width: 33%;
    }
    .medical-image{
        width: 62%;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .medical-image img{
        height: 435px;
    }
    .medical-content-image-box{
        width: 450px;
        height: auto;
        padding-bottom: 30px;
        flex-direction: column;
    }
    .medical-color-box{
        margin-top: 60px;
    }
    .medical-insurence-section{
        height: auto;
        padding-bottom: 1px;
    }
    .medical-insurence-cover {
        max-width: 540px;
    }
    .medical-content {
        width: 92%;
        margin-left: 6%;
    }
    .medical-image{
        width: 100%;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {
    .medical-image img{
        height: 250px;
    }
    .medical-content-image-box{
        width: 300px;
        margin-top: -316px;
        height: auto;
        padding-bottom: 30px;
        flex-direction: column;
    }
    .medical-color-box{
        margin-top: 60px;
    }
    .medical-insurence-section{
        height: auto;
        padding-bottom: 1px;
    }
    .medical-insurence-cover {
        max-width: 340px;
    }
    .medical-content {
        width: 87%;
        margin-left: 6%;
    }
    .medical-image{
        width: 100%;
    }
}

@media screen and (max-width:360px) {
    .medical-image img{
        height: 230px;
    }
    .medical-content-image-box{
        width: 95%;
        margin-top: -316px;
        height: auto;
        padding-bottom: 30px;
        flex-direction: column;
    }
    .medical-color-box{
        margin-top: 60px;
    }
    .medical-insurence-section{
        height: auto;
        padding-bottom: 1px;
    }
    .medical-insurence-cover {
        max-width: 340px;
    }
    .medical-content {
        width: 87%;
        margin-left: 6%;
    }
    .medical-image{
        width: 100%;
    }
    .medical-line{
        width: 100%;
    }
    .bottom-link{
        width: 100%;
    }
}

/* medical-insurarence-section complete */

/* what-we-do-section start */

.what-we-do-section{
    width: 1140px;
    margin: 0 auto;
    padding-bottom: 1px;
}

.what-we-do-section h3{
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: none;
    margin: 60px 353px 0 170px;
    font-size: 2.75rem;
    line-height: 1;
    color: #f16fa9;
    font-family: Oswald, sans-serif;
}

.what-we-do-section p{
    line-height: 1.8;
    text-transform: none;
    letter-spacing: normal;
    width: 800px;
    margin: 20px auto 0;
    font-size: 1.125rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.primary-button-3{
    padding: 18px 46px;
    margin: 37px auto 0 170px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    background-image: none;
    text-align: center;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: #111111 !important;
    background-color: #e5e5e5 !important;
    cursor: pointer;
}

.what-we-do-circle{
    width: 163px;
    height: 163px;
    background-image: linear-gradient(#f16fa9, #8673e7);
    margin: -50px 170px 60px auto;
    border-radius: 50%;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .what-we-do-section{
        width: 940px;
    }
    .what-we-do-section h3{
        margin-top: 104px;
        margin-right: 253px;
        margin-left: 70px;
        font-size: 2.75rem;
    }
    .primary-button-3{
        margin-left: 70px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .what-we-do-section{
        width: 740px;
    }
    .what-we-do-section h3{
        margin-top: 60px;
        margin-right: 103px;
        margin-left: 0;
        font-size: 2.75rem;
    }
    .primary-button-3{
        margin-left: 0;
    }
    .what-we-do-section p{
        width: 720px;
    }
    .what-we-do-circle{
        width: 138px;
        height: 138px;
        margin-top: -26px;
        margin-right: 148px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .what-we-do-section{
        width: 540px;
    }
    .what-we-do-section h3{
        margin-top: 60px;
        margin-right: 0;
        margin-left: 0;
        font-size: 2.75rem;
    }
    .primary-button-3{
        margin-left: 0;
    }
    .what-we-do-section p{
        width: 540px;
    }
    .what-we-do-circle{
        width: 138px;
        height: 138px;
        margin-top: -26px;
        margin-right: 72px;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {
    .what-we-do-section{
        width: 340px;
    }
    .what-we-do-section h3{
        margin-top: 60px;
        margin-right: 0;
        margin-left: 0;
        font-size: 1.875rem;
    }
    .primary-button-3{
        margin-left: 0;
    }
    .what-we-do-section p{
        width: 340px;
    }
    .what-we-do-circle{
        width: 114px;
        height: 114px;
        margin-top: 35px;
        margin-right: 14px;
    }
}

@media screen and (max-width:360px) {
    .what-we-do-section{
        width: 90%;
    }
    .what-we-do-section h3{
        margin-top: 60px;
        margin-right: 0;
        margin-left: 0;
        font-size: 1.875rem;
    }
    .primary-button-3{
        margin-left: 0;
    }
    .what-we-do-section p{
        width: 100%;
    }
    .what-we-do-circle{
        width: 114px;
        height: 114px;
        margin-top: 35px;
        margin-right: 14px;
    }
}

/* .what-we-do-section :end */

/* umbrella insurance section start */

.umbrella-insurance-section{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    height: 599px;
    margin-bottom: 30px;
    position:relative;
}

.umbrella-image-box{
    width: 446px;
    background-image: linear-gradient(#8673e7, #f16fa9);
    left: 0;
    right: auto;
    height: 100%;
    position: absolute;
}

.umbrella-image-content-box{
    width: 1089px;
    margin: 60px 0 60px auto;
    height: 468px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 11%;
    background-color: white;
}

.umbrella-image{
    width: 50%;
}

.umbrella-image img{
    width: 468px;
    object-fit: cover;
    /* left: 65% !important;
    transform: translateX(-50%);*/
    /* left: 50% ;
    transform: translateX(-50%);
    position: absolute ;
    height: 100% ;
    top: 0 !important; */
    /* top: 11%;  */
}

.umbrella-content{
    width: 50%;
    margin-top: 7%;
    margin-left: 4%;
}

.umbrella-content h1{
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    line-height: 1.1;
    color: #f16fa9;
    font-family: Oswald, sans-serif;
}

.umbrella-content p{
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
    margin: 19px 0 0;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
}

.umbrella-content .umbrella-link-2{
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.secondary-button{
    padding: 18px 46px;
    margin: 30px auto 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    background-image: none;
    text-align: center;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: #111111 !important;
    background-color: #e5e5e5 !important;
    cursor: pointer;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .umbrella-insurance-section{
        width: 940px;
        height: 600px;
    }
    .umbrella-image-box{
        width: 424px;
    }
    .umbrella-image-content-box{
        width: 888px;
    }
    .umbrella-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .umbrella-image img{
        height: 411px;
    }
    .umbrella-content{
        margin-left: 7%;
        margin-top: 3%;
    }
    .umbrella-content p{
        width: 78%;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .umbrella-insurance-section{
        width: 740px;
        height: 527px;
    }
    .umbrella-image-box{
        width: 424px;
    }
    .umbrella-image-content-box{
        width: 688px;
        height: 400px;
        margin-left: 30px;
    }
    .umbrella-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .umbrella-image img{
        height: 326px;
    }
    .umbrella-content{
        margin-left: 3%;
        margin-top: 3%;
    }
    .umbrella-content p{
        width: 92%;
    }
    .umbrella-content h1{
        font-size: 2.25rem;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .umbrella-insurance-section{
        width: 540px;
        height: auto;
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .umbrella-image-box{
        width: 424px;
        height: 933px;
    }
    .umbrella-image-content-box{
        width: 480px;
        height: auto;
        margin-left: 60px;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .umbrella-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 97%;
    }
    .umbrella-image img{
        height: 462px;
    }
    .umbrella-content{
        margin-left: 3%;
        margin-top: 3%;
        width: 100%;
    }
    .umbrella-content p{
        width: 92%;
    }
    .umbrella-content h1{
        font-size: 2.25rem;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {
    .umbrella-insurance-section{
        width: 340px;
        height: auto;
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .umbrella-image-box{
        width: 296px;
        height: 836px;
    }
    .umbrella-image-content-box{
        width: 308px;
        height: auto;
        margin-left: 40px;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .umbrella-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .umbrella-image img{
        height: 321px;
        width: 100%;
    }
    .umbrella-content{
        margin-left: 3%;
        margin-top: 3%;
        width: 97%;
    }
    .umbrella-content p{
        width: 92%;
    }
    .umbrella-content h1{
        font-size: 1.875rem;
    }
}

@media screen and (max-width:360px) {
    .umbrella-insurance-section{
        width: 100%;
        height: auto;
        padding-top: 60px;
        padding-bottom: 0;
    }
    .umbrella-image-box{
        width: 75%;
        height: 100%;
    }
    .umbrella-image-content-box{
        width: 85%;
        height: auto;
        margin-left: 40px;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .umbrella-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .umbrella-image img{
        height: 321px;
        width: 100%;
    }
    .umbrella-content{
        margin-left: 3%;
        margin-top: 3%;
        width: 97%;
    }
    .umbrella-content p{
        width: 92%;
    }
    .umbrella-content h1{
        font-size: 1.875rem;
    }
}

/* .umbrella-insurance-section :end */

/* facts-section start */

.facts-section{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.facts-section h2{
    font-size: 3rem;
    background-image: none;
    width: 565px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 60px auto 0;
    line-height: 1.1;
    color: #f16fa9 !important;
    font-family: Oswald, sans-serif;
    text-align: center;
}

.facts-section .facts-sub-text{
    font-style: italic;
    width: 864px;
    margin: 20px auto 0;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.question-box{
    width: 894px;
    margin: 30px auto 60px;
}
.question-box details{
    margin-bottom: 10px;
}
.question-box details > summary {
  list-style: none;
}

.question-box details summary{
    background-image: none;
    font-weight: 700;
    padding: 25px 30px;
    color: #111111 !important;
    background-color: #f2f2f2 ;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.question-box details summary:hover{
    background-color: #ccc4f5;
}

.details-summary-clicked {
    background-color: #f7abcd !important;
}

.question-box details p{
    background-color: white !important;
    font-family: 'Open Sans', sans-serif;
    padding: 25px 30px;
    color: #111111 !important;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
}

.plus{
    height: 17px;
    width: 17px;
    color: rgb(128, 128, 128);
    margin-left: auto;
    background: transparent;
    margin-top: -20px;
}

.u-svg-link-plus{
    width: 100%;
    height: 100%;
}

.u-svg-content-plus{
    width: 0;
    height: 0;
}

@media screen and (min-width:768px) and (max-width:991px) {
    .question-box{
        width: 720px;
    }
    .facts-section .facts-sub-text{
        width: 720px;
    }
    .facts-section{
        width: 740px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .question-box{
        width: 540px;
    }
    .facts-section .facts-sub-text{
        width: 540px;
    }
    .facts-section{
        width: 540px;
    }
    .facts-section h2{
        width: 540px;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {
    .question-box{
        width: 340px;
    }
    .facts-section .facts-sub-text{
        width: 340px;
    }
    .facts-section{
        width: 340px;
    }
    .facts-section h2{
        font-size: 1.875rem;
        width: 340px;
    }
}

@media screen and (max-width:360px) {
    .question-box{
        width: 95%;
    }
    .facts-section .facts-sub-text{
        width: 100%;
    }
    .facts-section{
        padding-top: 2%;
        width: 100%;
    }
    .facts-section h2{
        font-size: 1.875rem;
        width: 100%;
    }
}

/* .facts-section :end */

/* public-section start */

.public-section{
    background-color: #e0e5eb;
    height: 870px;
}

.public-invention-box{
    padding-top: 5px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.public-box{
    width: 662px;
    height: 334px;
    background-image: linear-gradient(to right, #8673e7, #f16fa9);
    margin: 476px 22px 0 auto;
}

.public-image{
    margin: -722px auto 0 76px;
}

.public-image img{
    height: 659px;
    width: 583px;
    object-fit: cover;
}

.public-circle{
    width: 228px;
    height: 228px;
    background-image: linear-gradient(#f16fa9, #a89aee);
    margin: -687px 0 0 auto;
    border-radius: 50%;
}

.public-content{
    width: 462px;
    min-height: 549px;
    margin: -135px 88px 60px auto;
    color: #111111;
    background-color: #ffffff;
}

.public-content-box{
    padding: 30px 40px 30px 48px;
}

.public-content h2{
    font-weight: 700;
    font-size: 2.25rem;
    margin: 49px 0 0;
    font-family: 'PT Sans', sans-serif !important;
    line-height: 1.1;
    color: #f16fa9 !important;
}

.public-content p{
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 28.8px;
    margin: 20px 0 0;
    font-family: 'Open Sans', sans-serif;
}

.public-content a{
    color: black;
    text-decoration: none;
    border-bottom:1px solid black;
    cursor:pointer;
}

.primary-button-4{
    padding: 16px 30px;
    margin: 35px auto 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    background-image: none;
    text-align: center;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: #111111 !important;
    background-color: #e5e5e5 !important;
    cursor: pointer;
}

.primary-button-4:hover{
    color: #111111 !important;
    background-color: #cecece !important;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .public-invention-box{
        max-width: 940px;
    }
    .public-image{
        margin-top: -726px;
        margin-left: 0;
    }
    .public-image img{
        width: 524px;
    }
    .public-circle{
        margin-top: -683px;
    }
    .public-content{
        width: 408px;
    }
    .public-content h2{
        font-size: 2.125rem;
    }
    .primary-button-4{
        border-style: none;
        padding: 10px 40px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .public-section{
        height: 1227px;
    }
    .public-invention-box{
        max-width: 740px;
    }
    .public-box{
        width: 423px;
        height: 281px;
        margin-top: 887px;
        margin-right: 0;
    }
    .public-image{
        margin-top: -1108px;
        margin-left: 0;
    }
    .public-image img{
        width: 524px;
    }
    .public-circle{
        margin-top: -247px;
        position: relative;
    }
    .public-content{
        width: 452px;
        margin-top: -124px;
        margin-right: 60px;
        position: relative;
    }
    .public-content h2{
        font-size: 2.125rem;
    }
    .primary-button-4{
        border-style: none;
        padding: 10px 40px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .public-section{
        height: 1166px;
    }
    .public-invention-box{
        max-width: 540px;
    }
    .public-box{
        width: 310px;
        height: 225px;
        margin-top: 881px;
        margin-right: 0;
    }
    .public-image{
        margin-top: -1046px;
        margin-left: 0;
    }
    .public-image img{
        height: 564px;
        width: 440px;
    }
    .public-circle{
        margin-top: -150px;
        margin-right: auto;
        margin-left: 312px;
        position: relative;
    }
    .public-content{
        width: 359px;
        margin-top: -142px;
        margin-right: 40px;
        position: relative;
    }
    .public-content-box{
        padding-right: 30px;
        padding-left: 30px;
    }
    .public-content h2{
        font-size: 2.125rem;
    }
    .primary-button-4{
        border-style: none;
        padding: 10px 40px;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {
    .public-section{
        height: 1050px;
    }
    .public-invention-box{
        max-width: 340px;
    }
    .public-box{
        width: 249px;
        height: 170px;
        margin-top: 778px;
        margin-right: 0;
    }
    .public-image{
        margin-top: -932px;
        margin-left: 0;
    }
    .public-image img{
        height: 353px;
        width: 291px;
    }
    .public-circle{
        width: 179px;
        height: 179px;
        margin-top: -61px;
        margin-right: 0;
        margin-left: auto;
        position: relative;
    }
    .public-content{
        width: 283px;
        margin-top: -129px;
        margin-right: auto;
        margin-bottom: -658px;
        position: relative;
    }
    .public-content-box{
        padding-right: 30px;
        padding-left: 30px;
    }
    .public-content h2{
        font-size: 1.5rem;
    }
    .primary-button-4{
        border-style: none;
        padding: 10px 40px;
    }
}

@media screen and (max-width:360px) {
    .public-section{
        height: 1100px;
        padding-bottom: 30px;
    }
    .public-invention-box{
        max-width: 98%;
    }
    .public-box{
        width: 75%;
        height: 170px;
        margin-top: 778px;
        margin-right: 0;
    }
    .public-image{
        margin-top: -932px;
        margin-left: 0;
    }
    .public-image img{
        height: 353px;
        width: 90%;
    }
    .public-circle{
        width: 179px;
        height: 179px;
        margin-top: -61px;
        margin-right: 0;
        margin-left: auto;
        position: relative;
    }
    .public-content{
        width: 90%;
        margin-top: -129px;
        margin-right: auto;
        margin-bottom: -658px;
        position: relative;
    }
    .public-content-box{
        padding-right: 30px;
        padding-left: 30px;
    }
    .public-content h2{
        font-size: 1.5rem;
    }
    .primary-button-4{
        border-style: none;
        padding: 10px 40px;
    }
}

/* .public-section :end */

/* about-section start */

.about-section{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.about-box{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
}

.about-image-box{
    height: 650px;
    background-image: linear-gradient(#f16fa9, #8673e7);
    width: 50%;
}

.about-image-box img{
    height: 450px;
    object-fit: contain;
    padding: 101px 60px;
}

.about-content{
    width: 50%;
    padding: 60px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.about-content h3{
    text-transform: none;
    letter-spacing: 2px;
    font-size: 2.75rem;
    color: #f16fa9;
    line-height: 1;
    font-weight: 700;
    font-family: Oswald, sans-serif;
}

.about-content p{
    line-height: 2;
    font-size: 1rem;
    margin: 20px 0 0;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.about-link{
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #f16fa9;
}

.primary-button-5{
    padding: 16px 30px;
    margin: 35px auto 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    background-image: none;
    text-align: center;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: #111111 !important;
    background-color: #e5e5e5 !important;
    cursor: pointer;
}

.primary-button-5:hover{
    color: #111111 !important;
    background-color: #cecece !important;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .about-image-box img{
        height: 335px;
    }
    .about-image-box{
        height: 536px;
    }
    .about-section{
        max-width: 940px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .about-image-box img{
        height: 276px;
    }
    .about-image-box{
        height: 475px;
    }
    .about-section{
        max-width: 740px;
    }
    .about-content{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .about-image-box img{
        height: 444px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 44px;
        width: 82%;
    }
    .about-image-box{
        height: 530px;
        width: 100%;
    }
    .about-section{
        max-width: 563px;
    }
    .about-content{
        padding-left: 30px;
        padding-right: 30px;
        width: 82%;
    }
    .about-box{
        flex-direction: column;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {
    .about-image-box img{
        height: 332px;
        padding-left: 30px;
        padding-right: 40px;
        padding-top: 28px;
        width: 82%;
    }
    .about-image-box{
        height: 390px;
        width: 100%;
    }
    .about-section{
        max-width: 340px;
    }
    .about-content{
        padding-left: 30px;
        padding-right: 30px;
        width: 82%;
    }
    .about-box{
        flex-direction: column;
    }
}

@media screen and (max-width:360px) {
    .about-image-box img{
        height: 300px;
        padding-left: 20px;
        padding-right: 0;
        padding-top: 28px;
        width: 85%;
    }
    .about-image-box{
        height: 357px;
        width: 100%;
    }
    .about-section{
        max-width: 98%;
    }
    .about-content{
        width: 90%;
        margin: 0 5%;
        padding: 0;
        margin-top: 5%;
    }
    .about-box{
        flex-direction: column;
    }
}

/* .about-section end */

/* contact-section start */

.contact-section{
    background-color: #e0e5eb;
    height: 610px;
}

.contact-box{
    width: 100%;
    max-width: 1140px;
    margin:50px auto;
    padding-top: 75px;
    display: flex;
    flex-direction: row;
}

.call-box{
    min-height: 412px;
    max-width: 385px;
    box-shadow: 5px 5px 26px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(#f16fa9, #8673e7);
    margin: 10px auto 0 91px;
    position: absolute;
}
.call-cover{
    padding: 1px;
    margin-left: 25px;
}

.call-box h6{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 48px 0 0;
    color: #ffffff !important;
    line-height: 1.2;
    font-family: Oswald, sans-serif;
}

.normal-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 18px 0 0 !important;
    color: #ffffff !important;
    line-height: 1.2;
    font-family: Oswald, sans-serif;
}

.call-box p{
    font-weight: 600;
    margin: 20px 0 0;
    font-size: 1.125rem;
    line-height: 1.6;
    color: #ffffff !important;
    font-family: 'Open Sans', sans-serif;
}

.contact-form{
    color: #111111;
    background-color: #ffffff;
    height: 510px;
    width: 73.33%;
    margin-left: 350px;
    margin-top: -29px;
}

form {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    font-size: 1rem;
    margin-left: 185px;
    margin-top: 92px;
}
.name{
    margin-bottom: 10px;
}

.contact-form
input[type="text"],
input[type="email"]
 {
    
    width: 80%;
    padding: 12px 12px;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-bottom: 2px solid #8673e7;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    height: auto;
    font-size: 1rem;
    margin: 4px;
    margin-bottom: 0 !important;
}

.contact-form textarea{
    width: 80%;
    padding: 12px 12px;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-bottom: 2px solid #8673e7;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    height: auto;
    font-size: 1rem;
    margin: 4px;
    margin-bottom: 0 !important;
    font-family: 'Open Sans', sans-serif;
}


input[type="submit"] {
    width: 85%;
    text-align: center;
    padding: 13px 32px;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color:#8673e7;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .contact-form{
        height: 421px;
    }
    .call-box{
        min-height: 392px;
        margin: 0px auto 0 51px;
    }
    .contact-section{
        height: auto;
    }
    .contact-box{
        max-width: 940px;
        margin: auto;
        padding: 75px 0;
    }
    form{
        margin-left: 120px;
        margin-top: 80px;
    }
    .contact-form input[type="text"], input[type="email"] {
    width: 85%;
    }
    .contact-form textarea {
    width: 85%
    }
    input[type="submit"] {
    width: 91%;
    margin-bottom: 0;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .contact-form{
        height: 421px;
        width: 78.33%;
        margin-left: 229px;
    }
    .call-box{
        width: 321px;
        min-height: 405px;
        margin: 0px auto 0 0px;
    }
    .contact-section{
        height: auto;
    }
    .contact-box{
        max-width: 740px;
        margin: auto;
        padding: 75px 0;
    }
    form{
        margin-left: 120px;
        margin-top: 80px;
    }
    .contact-form input[type="text"], input[type="email"] {
    width: 85%;
    }
    .contact-form textarea {
    width: 85%
    }
    input[type="submit"] {
    width: 91%;
    margin-bottom: 0;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .contact-form{
        height: 421px;
        width: 100%;
        margin-left: 0;
        margin-top: 355px;
    }
    .call-box{
        max-width: 480px;
        min-height: 405px;
        margin: 0px auto 0 25px;
        text-align: center;
    }
    .contact-section{
        height: auto;
    }
    .contact-box{
        max-width: 540px;
        margin: auto;
        padding: 75px 0;
        flex-direction: column;
    }
    form{
        margin-left: 40px;
        margin-top: 80px;
    }
    .contact-form input[type="text"], input[type="email"] {
    width: 85%;
    }
    .contact-form textarea {
    width: 85%
    }
    input[type="submit"] {
    width: 91%;
    margin-bottom: 0;
    }
    .call-cover{
        margin: 0 25px;
    }
}

@media screen and (min-width:361px) and (max-width:575px) {
    .contact-form{
        height: 421px;
        width: 100%;
        margin-left: 0;
        margin-top: 355px;
    }
    .call-box{
        max-width: 320px;
        min-height: 405px;
        margin: 0px auto 0 10px;
        text-align: center;
    }
    .contact-section{
        height: auto;
    }
    .contact-box{
        max-width: 340px;
        margin: auto;
        padding: 75px 0;
        flex-direction: column;
    }
    form{
        margin-left: 40px;
        margin-top: 80px;
    }
    .contact-form input[type="text"], input[type="email"] {
    width: 85%;
    }
    .contact-form textarea {
    width: 85%
    }
    input[type="submit"] {
    width: 91%;
    margin-bottom: 0;
    }
    .call-cover{
        margin: 0 25px;
    }
}

@media screen and (max-width:360px) {
    .contact-form{
        height: 421px;
        width: 100%;
        margin-left: 0;
        margin-top: 355px;
    }
    .call-box{
        max-width: 90%;
        min-height: 405px;
        margin: 0px auto 0 10px;
        text-align: center;
    }
    .contact-section{
        height: auto;
    }
    .contact-box{
        max-width: 95%;
        margin: auto;
        padding: 75px 0;
        flex-direction: column;
    }
    form{
        margin-left: 10px;
        margin-top: 80px;
    }
    .contact-form input[type="text"], input[type="email"] {
    width: 85%;
    }
    .contact-form textarea {
    width: 85%
    }
    input[type="submit"] {
    width: 95%;
    margin-bottom: 0;
    }
    .call-cover{
        margin: 0 10px;
    }
    .call-box h6{
        margin: 15px 0 0;
    }
}

/* .contact-section end */

/* Footer start */

.footer{
    color: #ffffff;
    background-color: #333333;
    padding-bottom: 2%;
    /* padding: 6vh; */
    /* margin-top: 20px; */
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    width: 100%;
}

.footer-content{
    display: flex;
    flex-direction: column;
    grid-gap: 45px;
    text-align: center;
    align-items: center;
}

.contentone{
    width: 70%;
    margin-top: 49px;
    margin-bottom: 49px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
}

.footer-two span{
    font-size: 0.8rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.link2{
    color:#bcc0ee;
    text-decoration: underline;
}

